﻿@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

        <div class="container_12">
            <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
                <fieldset>
                    <h2>Access Denied</h2>
                    <p>
                        You do not have permission to view the content requested.
                    </p>
                    <p>
                        You can go back, or <a href="/Account/LogOn">Login</a> to get to where you want to go.
                    </p>
                </fieldset>
            </div>
        </div>