﻿@{
    ViewBag.Title = "Error";
    ViewBag.Layout = "_SitePage";
}

        <div class="container_12">
            <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
                <fieldset>
                    <h2>
                        @if (!String.IsNullOrWhiteSpace((String)TempData["error"])) {
                            @TempData["error"]
                        } else {
                            <span>Sorry, an error occurred while processing your request.</span>
                        }
                    </h2>
                </fieldset>
            </div>
        </div>
    </div> <!-- .grid -->