﻿@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

        <div class="container_12">
            <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
                <fieldset>
                    <h2>Error 404</h2>
                    <h3>Oops!</h3>
                    <p>
                        Looks like we could not find the page you were looking for.<br />
                        Either it has been moved, or it ceases to exist in this realm.
                    </p>
                    <p>
                        You can go back to the <a href="/">Home Page</a> to get to where you want to go.
                    </p>
                </fieldset>
            </div>
        </div>