﻿        <footer id="footer">
            <div class="container_12">
                <div class="content grid_6">
                    <h1>@ViewBag.AppSettings["SiteTitle"]</h1>
                    Copyright &copy;, 2009-@DateTime.Now.Year SA Media Group, LLC.
                </div>
                <div class="content grid_6" style="text-align: right">
                    Brought to you by the awesome power of SourPickles<br />
                    @if (ViewBag.Loggedin)
                    {
                        @Html.ActionLink("Admin", "Index", "Home", new { Area = "Admin" }, null) @:|
                        @Html.ActionLink("Logout", "LogOff", "User")
                    }
                    else
                    {
                        @Html.ActionLink("Login", "LogOn", "User")
                    }
                </div>
            </div>
        </footer>
    </div>

    @if (ViewBag.AppSettings["IncludeJQuery"] == "true")
    {
        <script src="/Scripts/Libs/jquery-1.7.1.min.js" type="text/javascript"></script>
    }
    @Html.Scripts()
@*    @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions();
*@
    <!-- Always call SourPickle Footer function right before closing body tag -->
    @Html.SP_Footer()
</body>
</html>