﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.AppSettings["SiteTitle"] | @ViewBag.Title</title>
    <meta name="description" content="@ViewBag.AppSettings["MetaDescription"]" />
    <meta name="author" content="" />

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <!-- CSS: implied media=all -->
    @Html.StyleSheets()
    <!-- end CSS-->

    <!-- Javascript (Put all other scripts at bottom of page for faster loading.) -->
    <script src="/Scripts/Libs/modernizr-2.0.6.min.js" type="text/javascript"></script>
    <!-- end Javascript -->

    <!-- Always call SourPickle Header function right before closing head tag -->
    @Html.SP_Head()
</head>
<body>
    <div id="container">
        <header id="header">
            <div class="top_bar"></div>
            <div class="menu_bar container_12">
                <div class="grid_7">
                    @{
                        string title = ViewBag.AppSettings["SiteTitle"];
                        int loc = title.IndexOf(' ');
                        <h1><span class="logo_green">@title.Substring(0, loc)</span> @title.Substring(loc)</h1>
                    }
                    <span>@ViewBag.AppSettings["MetaDescription"]</span>
                </div>
                <div class="grid_5">
                    @Html.RenderMenu("primary-navigation")
                </div>
            </div>
        </header>