﻿<h2>Confirm Delete</h2>
<p>
    Are you sure you want to delete this menu?<br /><br />
    It will be gone forever.
</p><br />
@Html.ActionLink("Delete", "DeleteMenu", "Home", new { slug = ViewBag.CategorySlug }, new { @class = "btn" })
<a href="javascript://" onclick="$.modal.close();" >Cancel</a>