﻿<h2>Confirm Delete</h2>
<p>
    Are you sure you want to delete this user?<br /><br />
</p><br />
@Html.ActionLink("Delete", "Delete", "Users", new { id = ViewBag.AccountID }, new { @class = "btn" })
<a href="javascript://" onclick="$.modal.close();" >Cancel</a>