﻿<h2>Confirm Delete</h2>
<p>
    Are you sure you want to delete this category?<br /><br />
    It will be gone forever.
</p><br />
@Html.ActionLink("Delete", "DeleteCategory", "Posts", new { id = ViewBag.CategoryID, ContentType = ViewBag.ContentType }, new { @class = "btn" })
<a href="javascript://" onclick="$.modal.close();" >Cancel</a>