﻿<h2>Confirm Delete</h2>
<p>
    Are you sure you want to delete this item?<br /><br />
    It will be gone forever.
</p><br />
@Html.ActionLink("Delete", "DeletePost", "Posts", new { id = ViewBag.PostID, ContentType = ViewBag.ContentTypeID }, new { @class = "btn" })
<a href="javascript://" onclick="$.modal.close();" >Cancel</a>