﻿@model Field
@using SourPickleCMS.Core.Models

<p><strong>New Custom Field:</strong></p>
	
<div class="field input">
	<div class="fields">
        @Html.CustomFieldsDropDownList("Name", new { style = "width: 155px", id = "custom_field_name_select", name = "custom_field_name_select" }, (String)ViewBag.ContentType.Slug)
	</div> <!-- .fields -->
    <label>or, Enter a new name:</label>
	<div class="fields">
        @Html.TextBoxFor(m => m.Name, new { id = "custom_field_name", name = "custom_field_name" })
	</div> <!-- .fields -->
</div> <!-- .field --><br />

<div class="field input">
	<label>Value:</label>
	<div class="fields">
        @Html.TextBoxFor(m => m.Value, new { id = "custom_field_value", name = "custom_field_value" })
	</div> <!-- .fields -->
</div> <!-- .field --><br />

<div class="actions">
	<button type="button" class="btn" onclick="add_custom_field();">Add Custom Field</button>
    <img id="custom_field_loader" src="/Areas/Admin/Content/Css/img/loader.gif" alt="loader" style="height: 24px; display: none; vertical-align: bottom;" /><br />
    <div style="color: #f00; margin-top: 5px;" id="custom_field_status_message"></div>
</div> <!-- .actions -->