﻿@model Category
@using SourPickleCMS.Core.Models

@using (Html.BeginForm("NewCategory", "Posts")) {
	<div class="field input">
		<label>Name:</label>
		<div class="fields">
            @Html.TextBoxFor(m => m.Name)
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

	<div class="field input">
		<label>Slug:</label>
		<div class="fields">
            @Html.TextBoxFor(m => m.Slug)
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

    <div class="field input">
		<label>Default Template:</label>
		<div class="fields">
            @Html.TemplateDropDownListFor(m => m.DefaultTemplate)
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

    @Html.AntiForgeryToken()
    <input type="hidden" id="ContentType" name="ContentType" value="@ViewBag.ContentType.Slug" />
	<div class="actions">
		<button type="submit" class="btn">Add Category</button>
	</div> <!-- .actions -->
}