﻿@model Category
@using SourPickleCMS.Core.Models

<h2>Add New Category</h2>

<div class="field input">
	<label>Name:</label>
	<div class="fields">
        @Html.TextBoxFor(m => m.Name)
	</div> <!-- .fields -->
</div> <!-- .field --><br />

<div class="field input">
	<label>Slug:</label>
	<div class="fields">
        @Html.TextBoxFor(m => m.Slug)
	</div> <!-- .fields -->
</div> <!-- .field --><br />

<div class="field input">
	<label>Default Template:</label>
	<div class="fields">
        @Html.TemplateDropDownListFor(m => m.DefaultTemplate)
	</div> <!-- .fields -->
</div> <!-- .field --><br />

@Html.AntiForgeryToken()
<input type="hidden" id="ContentTypeID" name="ContentTypeID" value="@ViewBag.ContentTypeID" />
<div class="actions">
	<button type="submit" class="btn" onclick="add_new_category()">Add Category</button> <a href="javascript://" onclick="$.modal.close();">Cancel</a>
</div> <!-- .actions -->