﻿@model Block
@using SourPickleCMS.Core.Models

<aside id="block-@Model.Id" class="text-block content-block">
    <h3 class="block-title">@Model.Fields["Title"]</h3>
    @Html.Raw(Model.Fields["Content"])
</aside>