﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>@Html.AppSettings()["SiteTitle"] Admin | @ViewBag.Title</title>

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

    <!-- CSS: implied media=all -->
    <link rel="stylesheet" href="/Areas/Admin/Content/Css/All.css" />
    <!-- end CSS-->

    <!-- Javascript (Put all other scripts at bottom of page for faster loading.) -->
    <script src="/Scripts/Libs/jquery-1.7.1.min.js" type="text/javascript"></script>
    <!-- end Javascript -->

    @RenderSection("head", false)
</head>
<body>

    <header id="head">
        <div class="left">
            <a href="http://www.sourpickle-cms.com" class="logo">Sour Pickle CMS</a>&nbsp; |&nbsp;
            <a href="/Admin/">Dashboard</a>
        </div>
        <div class="right">
            Hi, 
            @Html.ActionLink((string)ViewBag.Account.Username, "Profile", "User", new { id = ViewBag.Account.Username, Area = "" }, null) |
            @Html.ActionLink("Logout", "LogOff", "User", new { Area = "" }, null) |
            <a href="/">Visit Website</a>
        </div>
    </header> <!-- Header -->

    <div id="sidebar">
        <ul>
            <li name="site"><a href="javascript://"><img src="/Areas/Admin/Content/Images/icons/menu/layout.png" alt="" /> Site</a>
                <ul>
                    <li name="dashboard"><a href="/Admin/">Dashboard</a></li>
                    <li name="themes">@Html.ActionLink("Themes", "Themes", "Main")</li>
                    <li name="menus">@Html.ActionLink("Menus", "Menus", "Main", new { id = "" }, null)</li>
                    <li name="content_types">@Html.ActionLink("Content Types", "ContentTypes", "Main")</li>
                    <li name="blocks">@Html.ActionLink("Blocks", "Blocks", "Main")</li>
                    <li name="editor">@Html.ActionLink("Code Editor", "Editor", "Main")</li>
                </ul>
            </li>
            <li name="site"><a href="javascript://"><img src="/Areas/Admin/Content/Images/icons/menu/settings.png" alt="" /> Settings</a>
                <ul>
                    <li name="gen_settings">@Html.ActionLink("General Settings", "GeneralSettings", "Main")</li>
                    <li name="user_settings">@Html.ActionLink("User Settings", "UserSettings", "Main")</li>
                    <li name="display_settings">@Html.ActionLink("Display Settings", "DisplaySettings", "Main")</li>
                    <li name="email_settings">@Html.ActionLink("Email Settings", "EmailSettings", "Main")</li>
                    <li name="theme_settings">@Html.ActionLink("Theme Settings", "ThemeSettings", "Main")</li>
                </ul>
            </li>
            <li name="pages"><a href="javascript://"><img src="/Areas/Admin/Content/Images/icons/menu/pages.png" alt="" /> Pages</a>
                <ul>
                    <li name="all_page">@Html.ActionLink("All Pages", "Index", "Posts", new { ContentType = "page" }, null)</li>
                    <li name="new_page">@Html.ActionLink("Add New Page", "New", "Posts", new { ContentType = "page" }, null)</li>
                </ul>
            </li>
            <li name="blogs"><a href="javascript://"><img src="/Areas/Admin/Content/Images/icons/menu/pen.png" alt="" /> Blog Posts</a>
                <ul>
                    <li name="all_blog">@Html.ActionLink("All Blog Posts", "Index", "Posts", new { ContentType = "blog" }, null)</li>
                    <li name="new_blog">@Html.ActionLink("Add New Blog Post", "New", "Posts", new { ContentType = "blog" }, null)</li>
                    <li name="blog_categories">@Html.ActionLink("Categories", "Categories", "Posts", new { ContentType = "blog" }, null)</li>
                </ul>
            </li>
            <li name="media"><a href="javascript://"><img src="/Areas/Admin/Content/Images/icons/menu/movie.png" alt="" /> Media</a>
                <ul>
                    <li name="all_media">@Html.ActionLink("All Media", "Media", "Posts", null, null)</li>
                    <li name="new_media">@Html.ActionLink("Add Media", "NewMedia", "Posts", null, null)</li>
                    <li name="media_categories">@Html.ActionLink("Categories", "Categories", "Posts", new { ContentType = "media" }, null)</li>
                </ul>
            </li>
            <li name="users"><a href="javascript://"><img src="/Areas/Admin/Content/Images/icons/menu/users.png" alt="" /> Users</a>
                <ul>
                    <li name="all_users">@Html.ActionLink("All Users", "Index", "Users")</li>
                    <li name="new_user">@Html.ActionLink("Add New User", "New", "Users")</li>
                </ul>
            </li>
            @Html.RenderContentTypeMenus()
            @Html.RenderCustomMenus()
        </ul>
        <a href="#collapse" id="menucollapse">&#9664; Collapse sidebar</a>
        <input type="hidden" id="current_menu" value="@ViewBag.Page" />
    </div> <!-- Sidebar -->

    <div id="content" class="white">
        @if (TempData["msg"] != null)
        {
            <div id="msg_box" class="notif tip bloc">
                <strong>Success: </strong>
                @TempData["msg"]
                <a href="#" class="close">x</a>
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div id="msg_box" class="notif error bloc">
                <strong>Error: </strong>
                @TempData["error"]
                <a href="#" class="close">x</a>
            </div>
        }

        <h1>@RenderSection("header", false)</h1>
        @RenderBody()
    </div>

    <div id="modal_dialog">
        <div id="dialog_content">
            
        </div>
        <div id="loading_overlay">
            <div id="loading_notif"><img src="/Areas/Admin/Content/Css/img/loader.gif" /></div>
        </div>
    </div>
    <script src="/Areas/Admin/Scripts/All.js" type="text/javascript"></script>
    <script src="/Areas/Admin/Scripts/Main.js" type="text/javascript"></script>
    @RenderSection("scripts", false)
@*    @Raven.Client.MvcIntegration.RavenProfiler.CurrentRequestSessions();
*@    <script type="text/javascript">
        $(function () {
            ReadyMade.init();
        });
    </script>
</body>
</html>