﻿@model Block
@using SourPickleCMS.Core.Models

@{
    IList<Post> posts = Html.GetPosts(Model.Fields["ContentType"], Model.Fields["MaxPosts"]);
}

<aside id="block-@Model.Id" class="most-recent-posts-block content-block">
    <h3 class="block-title">@Model.Fields["Title"]</h3>
    <ul>
        @foreach (Post p in posts)
        {
        <li>
            <a href="@p.GetPermalink()">@p.Title</a>
        </li>
        }
    </ul>
</aside>