﻿@model IDictionary<string, string>

<fieldset>
    <label>Title:</label>@Html.TextBox("Title", Model["Title"])
    <label>Content Type:</label>@Html.TextBox("ContentType", Model["ContentType"])
    <label>Max Posts:</label>@Html.TextBox("MaxPosts", Model["MaxPosts"])<span>Maximum number of posts to display</span>
</fieldset>