﻿#admin_toolbar_container 
{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 28px;
    width: 100%;
    padding-top: 11px;
    font-size: 1.25em;
    border-bottom: 1px solid #000;
    vertical-align: middle;
    text-align: left;
    color: #ccc;
    box-shadow: inset 0px -8px 15px #666;
    clear: both;
    background-color: #494949;
    z-index: 9999;
}
#admin_toolbar_container .left
{
    float: left;
    padding-left: 12px;
}
#admin_toolbar_container .right{
	float: right;
	padding-right: 12px;
}
#admin_toolbar_container a{
	color: #FFFFFF;
	text-decoration: none;
}
#admin_toolbar_container a:hover{
	text-decoration: underline;
}
#admin_toolbar_container a.button{
	border: 1px solid #222222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 6px;
	margin: 6px 10px 0px 0px;
	line-height: 32px;
	text-align: center;
	background-position: 0px -40px;
}
#admin_toolbar_container .logo{ 
	float:left;
	margin-right: 10px;
}