﻿/* 
 * HTML5 ✰ Boilerplate
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 * Detailed information about this CSS: h5bp.com/css
/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-size: 62.5%; /* This keeps font size ems to multiples of 10px rather than 16px */
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-Serif;
    color: #000;
    background-color: #fff;
}
a:link {
    color: #238282;
    text-decoration: none;
}
a:visited {
    color: #238282;
}
a:hover {
    color: #238282;
    text-decoration: underline;
}
a:active {
    color: #238282;
}
p, ul {
    margin-bottom: 10px;
    line-height: 1.75em;
}
header,
footer,
nav,
section {
    display: block;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}
h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2 
{
    font-size: 1.75em;
    padding: 0px;
    margin: 0px 0px 8px 0px;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: .95em;
    font-weight: normal;
    color: #888;
}
h6 {
    font-size: .85em;
    font-weight: normal;
    color: #999;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}
#header 
{
    width: 100%;
    background-color: #eee;
}
#header .menu_bar 
{
    height: 85px;
}
#header .menu_bar h1
{
    margin: 20px 0px 0px 0px;
    color: #000;
    border: none;
    font-size: 2em;
}
#header .menu_bar span 
{
    font-size: 1.15em;
    line-height: 1.25em;
    color: #000;
}
#body 
{
    width: 100%;
    padding: 20px 0px 120px 0px;
    font-size: 1.15em;
}
#footer {
    position: absolute;
    bottom: 0;
    height: 95px;
    width: 100%;
    background-color: #eee;
}

/* MENU   
----------------------------------------------------------*/
.nav-menu { float: right; display: inline; }
ul#menu-primary-navigation {
    margin: 0;
    text-align: right;
    margin: -5px 0px 0px 0px;
}
ul#menu-primary-navigation li {
    display: inline;
    list-style: none;
    margin: 0 5px 0px 0px;
}
ul#menu-primary-navigation li a {
    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    color: #333;
    text-transform: uppercase;
    border-radius: 2px;
}
ul#menu-primary-navigation li a:hover, ul#menu-primary-navigation li a.current-page {
    background-color: #292929;
    color: #fff;
    border: 1px solid #454545;
    padding: 7px 14px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    box-shadow: 3px 3px 12px #aaa;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
textarea {
    min-height: 75px;
}
input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 1.2em;
    color: #555;
    width: 200px;
}
input[type="text"]:hover, 
input[type="password"]:hover,
input[type="text"]:focus, 
input[type="password"]:focus {
    border: 1px solid #888;
    background-color: #efefef;
}
select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}
input[type="submit"], input[type="button"] 
{
    background-color: #29A4A4;
    color: #eee;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #666;
    box-shadow: 2px 1px 4px #aaa;
}
input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: #179292;
}
textarea
{
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 1.1em;
    color: #555;
}
textarea:hover
{
    border: 1px solid #888;
    background-color: #efefef;
}


/* COMMENTS
----------------------------------------------------------*/
#comments 
{
    width: 100%;
    padding: 0px;
    margin-bottom: 12px;
    list-style: none;
}
#comments .comment_box 
{
    margin: 0px;
    margin-top: 20px;
    position: relative;
    border-bottom: 1px dotted #ccc;
}
#comments .comment_box .avatar 
{
    position: absolute;
    top: 4px;
    left: 0px;
}
#comments .comment_box .body 
{
    margin-left: 50px;
}
#comments .comment_box .body .name 
{
    font-style: italic;
    font-size: 1.2em;
    color: #333;
}
#comments .comment_box .body .date 
{
    color: #888;
    font-size: .9em;
}
#comments .comment_box .body .message 
{
    font-size: 1em;
    color: #333;
}
#comments .comment_box .body .comment_reply_box 
{
    margin: 10px 0px;
}
#comment_container 
{
    border: 1px solid #ccc;
    padding: 15px;
}
#comment_container input[type="text"]
{
    width: 100%;
}
#comment_container h3 
{
    padding: 6px 0px;
    margin: 0px;
    line-height: 1.2em;
}
#comment_container .comment_field 
{
    margin-bottom: 10px;
}
#comment_container .comment_field .label
{
    width: 80px;
    display: inline-block;
    font-size: 1.1em;
    color: #000;
    margin-top: 8px;
}
#comment_container .comment_field .input
{
    width: 400px;
    display: inline-block;
    line-height: 1.5em;
}
#comment_container .comment_field .input textarea
{
    width: 100%;
    height: 200px;
}


/* TABLE
----------------------------------------------------------*/
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}
table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}
table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}
.error {
    color: Red;
}
nav, 
#menucontainer {
    margin-top: 40px;
}
div#title {
    display: block;
    float: left;
    text-align: left;
}
#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}
#logindisplay a:link {
    color: white;
    text-decoration: underline;
}
#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}
#logindisplay a:hover {
    color: white;
    text-decoration: none;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}
.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}
.validation-summary-valid {
    display: none;
}


/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}
.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}
.text-box {
    width: 30em;
}
.text-box.multi-line {
    height: 6.5em;
}
.tri-state {
    width: 6em;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }


/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}