﻿@model Account
@using SourPickleCMS.Core.Models

@{
    if (String.IsNullOrWhiteSpace(Model.Id))
    {
        ViewBag.Title = "Add New User";
        ViewBag.Page = "new_user";
    }
    else
    {
        ViewBag.Title = "Edit User";
        ViewBag.Page = "users";
    }
}
@section header {
    @if (String.IsNullOrWhiteSpace(Model.Id))
    {
        <span>New User</span>
    }
    else
    {
        <span>Edit User</span>
    }
}

<br />
@using (Html.BeginForm((String.IsNullOrWhiteSpace(Model.Id)) ? "New" : "Edit", "Users"))
{
    @Html.ValidationSummary(true, "User save was unsuccessful. Please correct the errors and try again.")
	<div class="field input">
		<h3 style="margin-bottom: 0.25em">Name:</h3>
		<div class="fields">
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Full Name", size = "35" })
            @Html.ValidationMessageFor(model => model.Name)
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

   	<div class="field input">
		<h3 style="margin-bottom: 0.25em">Username:</h3>
		<div class="fields">
            @Html.TextBoxFor(model => model.Username, new { placeholder = "Public Username", size = "35" })
            @Html.ValidationMessageFor(model => model.Username)
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

   	<div class="field input">
		<h3 style="margin-bottom: 0.25em">Email:</h3>
		<div class="fields">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address", size = "35" })
            @Html.ValidationMessageFor(model => model.Email)
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

   	<div class="field input">
		<h3 style="margin-bottom: 0.25em">Password:</h3>
		<div class="fields">
            @Html.TextBoxFor(model => model.Password, new { placeholder = (String.IsNullOrWhiteSpace(Model.Id)) ? "Password" : "New Password (Optional)", size = "35" })
            @Html.ValidationMessageFor(model => model.Password)
		</div> <!-- .fields -->
	</div> <!-- .field --><br /><br />

   	<div class="field input">
		<div class="fields">
            @Html.CheckBoxFor(m => m.IsLocked) Locked
		</div> <!-- .fields -->
	</div> <!-- .field --><br />

   	<div class="field input">
		<h3 style="margin-bottom: 0.25em">Reason for locking account:</h3>
		<div class="fields">
            @Html.TextBoxFor(model => model.LockedReason, new { placeholder = "Locked reason", size = "45" })
            @Html.ValidationMessageFor(model => model.LockedReason)
		</div> <!-- .fields -->
	</div> <!-- .field --><br /><br />
        
   	<div class="field input">
		<div class="fields">
            @Html.CheckBoxFor(m => m.IsSuspended) Suspended
		</div> <!-- .fields -->
	</div> <!-- .field --><br /><br />

   	<div class="field input">
		<div class="fields">
            @Html.CheckBoxFor(m => m.EmailVerified) Email Verified
		</div> <!-- .fields -->
	</div> <!-- .field --><br /><br />
    
    <div class="field input">
		<h3 style="margin-bottom: 0.25em">Role:</h3>
		<div class="fields">
            @Html.RolesDropDownList("Role", Model.Role.ToString())
		</div> <!-- .fields -->
	</div> <!-- .field --><br /><br />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
	<div class="actions">
		<button type="submit" class="btn">Save User</button> @Html.ActionLink("Cancel", Request.UrlReferrer.AbsoluteUri)
	</div> <!-- .actions -->
}