﻿@model IList<Account>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "All Users";
    ViewBag.Page = "all_users";
}
@section header {
    All Users
}

<div style="vertical-align: middle">
    @{
        @Html.ActionLink("Add New User", "New", null, new { @class = "btn" });
    }
</div>

<hr />
<table class="data display userstable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Joined</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (Account item in Model)
            {
			    <tr class="post_entry">
				    <td>
                        @Html.ActionLink(item.Name, "Edit", new { id = item.Id }, new { @class = "post_title" })
                        <div class="post_entry_actions">
                            @Html.ActionLink("View Profile", "Profile", "User", new { id = item.Username, Area = "" }, new { @class = "post_action" }) |
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="post_action">Edit</a> |
                            <a href="javascript://" class="post_action" onclick="confirm_delete_user('@item.Id')">Delete</a>
                        </div>
                    </td>
				    <td>@item.Username</td>
				    <td>@item.Email</td>
				    <td>@item.Role</td>
				    <td>
                        @item.JoinDate.ToShortDateString()<br />
                        @item.JoinDate.ToShortTimeString()
                    </td>
			    </tr>
            }
        }
        else
        {
			<tr class="post_entry">
				<td>No users found<br />&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        }
    </tbody>
</table>