html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

body{
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-serif;
	background-color: #efefef;
}
.cb, .clear{
	clear: both;
}
.shadow 
{
    -webkit-box-shadow: 1px 1px 6px #666;
    -moz-box-shadow: 1px 1px 6px #666;
    box-shadow: 1px 1px 6px #666;
}
.relative{
	position: relative;
}
#head, #head a.button, #head .search{
	background-color: #373737;
}
hr 
{
    clear: both;
    border: 0px;
    border-bottom: 1px dashed #ccc;
    margin: 16px 0px;
}
#code_editor 
{
    border: 1px solid #aaa;
    display: inline-block;
    float: left;
}
#fileeditor 
{
    width: 240px;
    display: inline-block;
    overflow: scroll;
    border: 1px solid #aaa;
    border-right: none;
}
    
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

input[type=text]
, input[type=password] 
, textarea
, select
{
	font-family: Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
	font-size: 12px;
	color: #424242;
	padding: 6px;
	border: 1px solid #CCC;
	outline: none;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15) inset;
	
	-moz-transition: border .2s linear, box-shadow .2s linear;
	-webkit-transition: border .2s linear, -webkit-box-shadow .2s linear;
}

input[type=text]:focus 
, input[type=password]:focus
, textarea:focus
, select:focus
{
    border: 1px solid #80bfff;
    
    -moz-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    -webkit-box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
    box-shadow: 0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset;
}
textarea 
{
    resize: vertical;
}

.field.input label 
{
    line-height: 16px;
}

/*********************************************** HEADER ***********************************************************/
#head{
	height: 40px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 40px;
	border: 1px solid #000000;
	color: #AEAEAE;
	-moz-text-shadow: 0px 1px 0px #000000;
	-webkit-text-shadow: 0px 1px 0px #000000;
	-o-text-shadow: 0px 1px 0px #000000;
	text-shadow: 0px 1px 0px #000000;
	z-index: 999;
	-moz-box-shadow: 3px 5px 5px #888;
	-webkit-box-shadow: 3px 5px 5px #888;
	-o-box-shadow: 3px 5px 5px #888;
	box-shadow: 3px 5px 5px #888;
}
#head .left{
	position: absolute;
	left: 15px;
	top: 0;
}
#head .right{
	position: absolute;
	top: 0;
	right: 15px;
}
#head a{
	color: #FFFFFF;
	text-decoration: none;
}
#head a:hover{
	text-decoration: underline;
}
#head a.button{
	border: 1px solid #222222;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 6px;
	margin: 6px 10px 0px 0px;
	line-height: 32px;
	text-align: center;
	background-position: 0px -40px;
}
#head .logo{ 
	float:left;
}


/* Simple Modal CSS Overrides
----------------------------------------------------------*/
.simplemodal-overlay {background-color: #333;}
#simplemodal-overlay {background-color: #333;}
#modal_dialog 
{
    height: 250px;
    width: 310px;
    padding: 10px 20px 20px 20px;
    background-color: #eee;
    border: 1px solid #000;
	-moz-box-shadow: 0px 0px 15px #111;
	-webkit-box-shadow: 0px 0px 15px #111;
	-o-box-shadow: 0px 0px 15px #111;
	box-shadow: 0px 0px 15px #111;
    display: none;
}
#modal_dialog h2 {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
}
#loading_overlay 
{
    background-color: #eee;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1200;
    display: none;
}
#loading_notif 
{
    margin-top: 20px;
    margin-left: 150px;
}


/*********************************************** SIDEBAR ***********************************************************/
#sidebar{
	position: fixed;
	z-index: 1000;
	top: 42px;
	left: 0;
	bottom: 0;
	width: 180px;
	-moz-text-shadow: 0px 1px 0px #000000;
	-webkit-text-shadow: 0px 1px 0px #000000;
	-o-text-shadow: 0px 1px 0px #000000;
	text-shadow: 0px 1px 0px #000000;
	background-color: #494949;
	border-right: 1px solid #000;
	-moz-box-shadow: 5px 2px 5px #888;
	-webkit-box-shadow: 5px 2px 5px #888;
	-o-box-shadow: 5px 2px 5px #888;
	box-shadow: 5px 2px 5px #888;
}
#sidebar ul 
{
    z-index: 998;
}
#sidebar>ul>li>a{
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: #bbb;
	/*+text-shadow:0px 1px #0D0D0D;*/
	-moz-text-shadow: 0px 1px #0D0D0D;
	-webkit-text-shadow: 0px 1px #0D0D0D;
	-o-text-shadow: 0px 1px #0D0D0D;
	text-shadow: 0px 1px #0D0D0D;
	background: #494949 url(img/arrow.png) no-repeat 96% -5px;
	border-bottom: 1px solid #313131;
	border-top: 1px solid #606060;
}
#sidebar>ul>li>ul>li ul{
	margin-left: 20px;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: none;
}
#sidebar ul li a img{
    width: 16px;
    height: 16px;
	vertical-align: text-bottom;
	padding-right: 4px;
	/*+opacity:49%;*/
	filter: alpha(opacity=49);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=49);
	-moz-opacity: 0.49;
	opacity: 0.49;
}
#sidebar ul li:hover a img, #sidebar ul li.current a img{
	/*+opacity:100%;*/
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
#sidebar ul li.nosubmenu a{
	background-image: none !important;
}
#sidebar>ul>li:hover>a, #sidebar>ul>li.current>a{
	color: #FFF;
	background-position: 96% -53px !important;
	background-color: #585858;
}
#sidebar ul li ul{
	background: #404040;
	/*+box-shadow:inset 0 0 15px #3A3A3A;*/
	-moz-box-shadow: inset 0 0 15px #3A3A3A;
	-webkit-box-shadow: inset 0 0 15px #3A3A3A;
	-o-box-shadow: inset 0 0 15px #3A3A3A;
	box-shadow: inset 0 0 15px #3A3A3A;
	border-bottom: 1px solid #313131;
	padding: 7px 0px;
	display: none;
}
#sidebar ul li li a{
	height: 28px;
	line-height: 28px;
	text-indent: 35px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-size: 1em;
	background: transparent url(img/sideli.png) no-repeat 23px 10px;
	color: #bbb;
}
#sidebar ul li li a:hover, #sidebar ul li li.current a{
	background-position: 23px -31px;
}
#sidebar a:hover, #sidebar li.current>a{
	color: #FFF !important;
}
#sidebar a#menucollapse{ color:#CCC; display: block; height:40px; line-height: 40px; text-align: right; padding-right: 10px; text-decoration: none; font-style:italic; }
#sidebar a span{ color:#AAA; border: 1px solid #AAA; border-radius:20px; width: 17px; height: 17px; display: inline-block; text-align: left; text-indent: 2px; line-height: 16px;background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.2)); }

.collapsed #sidebar{width: 56px; }
.collapsed #sidebar>ul>li{ position: relative; }
.collapsed #sidebar>ul>li>a{ width: 52px; overflow: hidden; background-image:none!important; text-indent: 17px; -webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s;}
.collapsed #sidebar>ul>li:hover>a{ width: 200px;}
.collapsed #sidebar>ul>li ul{ position: absolute; width: 146px; left:-150px; -webkit-transition:0.5s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s; display: block!important;}
.collapsed #sidebar>ul>li ul ul{ left:0; margin-left: 0px; }
.collapsed #sidebar>ul>li:hover>ul{   overflow: visible; left:56px;  }
.collapsed #sidebar>ul>li ul li a{ text-indent: 10px; background:none; overflow: hidden;}
.collapsed #sidebar>ul>li ul ul li a{ text-indent: 20px; }
.collapsed #sidebar>ul>li ul ul ul li a{ text-indent: 40px; }
.collapsed #content{ margin-left: 76px;}



table.data { width: 100%; border: 0; margin-bottom: 2em; border-collapse: collapse;  }

	 table.data thead th
	 {
	 	font-size: 12px;
		font-weight: bold;
		text-align: left;
		padding: 10px;
		background-color: EEE;

		color: #333;
		
		border: 1px solid #ddd;
	}	
	
	table.data td { vertical-align: top; }
	
	table.data tbody tr { background: #FFF; border-bottom: 1px dotted #DDD; }

	table.data th { padding: 10px 0; }
	table.data tbody td { padding: 10px; }
	
	table.data tr.even { background: #F9F9F9; }
	table.data tr.bg_red { background: #FDD; }
	table.data tr.bg_green { background: #DFD; }
	
	table.data.stripe tr:nth-child(odd) td { background-color:#F6F6F6; }
	table.data.stripe tr:nth-child(even) td { background-color:#FFF; }

    table.data tbody tr:hover { background-color: #F6F6F6; }
.placeholder { color: #999; }




/*********************************************** CONTENT ***********************************************************/
#content .post_content
{
    width: 100%;
}
#content .post_content_left
{
    min-width: 400px;
    vertical-align: top;
    padding-right: 20px;
}
#content .post_content_right 
{
    width: 250px;
    vertical-align: top;
}
#content .post_content_block 
{
    width: 250px;
}
#content{
	margin: 20px 20px 30px 200px;
	color: #6D6D6D;
	padding: 0px 0px 20px;
	font-size: 12px;
	position: relative;
}
#content.nosidebar{
	margin-left: 20px;
}
#content em, #content em a{
	font-style: italic;
	color: #B2B2B2;
	font-weight: normal;
}
#content strong{
	font-weight: bold;
	color: #1A1616;
}
#content pre{
	font-style: italic;
	font-size: 1.1em;
}
#content h1{
	font-family: "Trebuchet MS";
	color: #333;
	font-size: 23px;
	font-weight: normal;
	line-height: 35px;
	padding: 40px 0px 10px 10px;
	vertical-align: bottom;
}
#content h1 img{
	vertical-align: top;
}
#content h2 
{
	font-family: "Trebuchet MS";
	color: #333;
	font-size: 16px;
	font-weight: normal;
	line-height: 25px;
	padding: 8px 0px;
}
#content .bloc{
	margin: 20px 0px 0px;
	background-color: #FFFFFF;
	overflow: hidden;
	border: 1px solid #aaa;
	-webkit-box-shadow: 3px 3px 8px #999;
	-moz-box-shadow: 3px 3px 8px #999;
	box-shadow: 3px 3px 8px #999;
}
#content .left {
	float: left;
}
#content .right{
	float: right;
}
#content .bloc .title{
	height: 35px;
	position: relative;
	line-height: 34px;
	padding: 0 10px;
	font-size: 15px;
	font-weight: bold;
	color: #808080;
}
#content .bloc .title .toggle{
	display: block;
	height: 18px;
	width: 18px;
	background: url(img/slidebuttons.png) left top;
	position: absolute;
	top: 8px;
	right: 10px;
}
#content .bloc .title .toggle.hide{
	background-position: top right;
}
#content .good{
	color: #6F9106;
}
#content .neutral{
	color: #FF7400;
}
#content .bad{
	color: #C21C1C;
}
/*Modal content*/
.modal #content{
	margin: 0;
	padding: 0px;
}
.modal #content .bloc{
	margin: 0px;
	padding: 0px;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}
/**  Login **/
#content.login{
	width: 350px;
	margin: 90px auto 0;
}
#content.login .notif{
	margin: 12px 0px 16px;
}
#content.login div.input{
	height: 33px;
	line-height: 33px;
	margin-bottom: 13px;
	position: relative;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	background-color: #1B1B1B;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #0E0D0D;
	border: 1px solid #303030;
	/*+box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.6);*/
	-moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	-o-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
	margin-top: 16px;
}
#content.login div.input input{
	position: absolute;
	top: 0;
	left: 0;
	width: 329px;
	height: 32px;
	background: transparent;
	border: none;
	color: #6A6A6A;
	padding: 0 10px;
}
#content.login div.input label{
	position: absolute;
	top: 0;
	left: 10px;
	height: 33px;
	line-height: 33px;
	color: #3A3636;
}
#content.login div.submit{
	float: right;
	width: 97px;
	text-align: right;
}
#content.login .checkbox{
	background: none !important;
	/*+box-shadow:none;*/
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}
#content.login div.checkbox{
	float: left;
	width: 229px;
	margin-top: 3px;
}
#content.login div.checkbox label{
	cursor: pointer;
}
#content.login div.submit input{
	/*+box-shadow:0px 2px 5px #202020;*/
	-moz-box-shadow: 0px 2px 5px #202020;
	-webkit-box-shadow: 0px 2px 5px #202020;
	-o-box-shadow: 0px 2px 5px #202020;
	box-shadow: 0px 2px 5px #202020;
}
/**  Texts **/
#content .bloc .content h1{
	color: #000000;
	font-family: Arial, Helvetica, Sans-serif;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	margin: 0px;
	padding: 10px 0;
	font-weight: bold;
}
#content .bloc .content h1, #content .bloc .content h2, #content .bloc .content h3, #content .bloc .content h4, #content .bloc .content h5{
	color: #000000;
	font-weight: bold;
	padding: 0 0px 5px;
}
#content .bloc .content h2{
	color: #1B1B1B;
	font-size: 25px;
}
#content .bloc .content h3{
	color: #282828;
	font-size: 22px;
}
#content .bloc .content h4{
	color: #404040;
	font-size: 20px;
}
#content .bloc .content h5{
	color: #5A5656;
	font-size: 14px;
}
#content .bloc .content p{
	padding: 5px 0 10px;
	line-height: 1.5em;
}
#content .bloc .content ul, #content .bloc .content ol{
	list-style: disc;
	margin-left: 25px;
	line-height: 1.5em;
	padding: 5px 0 10px;
}
#content .bloc .content ul.toolbar{
	padding: 3px 0px 0px 3px;
	margin: 0px;
	border: 0;
}
#content .bloc .content ul.toolbar li:hover{
	border: 1 solid #FFFFFF;
	background-color: #D9D6D6;
}
#content .wysiwyg{
	margin: 1px;
	padding: 0px;
}
#content .bloc .content ol{
	list-style: decimal;
}
#content .bloc .content{
	padding: 10px;
	background-color: #F7F7F7;
	background-color: #F7F7F7;
	position: relative;
}

#content .loader{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
	background:url(img/loader.gif) center center no-repeat rgba(255,255,255,0.7);
	z-index:9998; 
}
/** Shortcuts**/
#content .center{
	margin: 0 auto;
}
#content .bloc .shortcut{
	width: 105px;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	margin: 5px;
	color: #6D6D6D;
	border: 1px solid #D0D2D4;
	position: relative;
	display: inline-block;
}
#content .bloc .shortcut span{
	color: #FFFFFF;
	display: block;
	position: absolute;
	top: -10px;
	right: -10px;
	width: 23px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: normal;
	background: url(img/notif.png);
}
#content .bloc .shortcut:hover{
	color: #2D2D2D;
	border: 1px solid #6F7275;
	background-color: #DBDCDE;
}
#content .bloc .shortcut img{
	display: block;
	margin: 0 auto 10px;
	max-width: 48px;
	max-height: 48px;
}

/** Notification **/
#content .notif{
  position: relative;
  padding: 15px 15px;
  margin: 55px 0px -28px 0px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
#content .content .notif{
	margin-bottom: 10px;
}
#content .notif .close{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: right;
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	line-height: 13.5px;
	text-shadow: 0 1px 0 #ffffff;
	filter: alpha(opacity=20);
	-khtml-opacity: 0.2;
	-moz-opacity: 0.2;
	opacity: 0.2;
	text-decoration: none;
}
#content .notif .close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
#content .notif strong{
	font-weight: bold;
	color:inherit;
}
#content .notif.success{
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color:#FFF;
}
#content .notif.error,#content .bloc .notif.error{
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFF!important;
}
#content .notif.info{
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color:#FFF;
}

#content .bloc .input input.datepicker{
	background-image: url(img/input-datepicker.png);
	background-position: 98px center;
	background-repeat: no-repeat;
	width: 110px;
}
#content .bloc .loading input, input.loading{
	background:url(img/loader.gif) right center #FFF no-repeat!important; 
	padding-right: 35px;
}
#content .error-message{
	display: block;
}



#custom_field_container 
{
    float: left;
}
#custom_field_container .field_label 
{
    display: inline-block;
}
#custom_field_container .field_input 
{
    margin-left: 10px;
    display: inline-block;
}
#custom_field_form 
{
    float: right;
    border-left: 1px solid #999;
    padding-left: 10px;
    width: 170px;
    padding-bottom: 5px;
    margin-bottom: 12px;
}

#settings_container 
{
    margin-top: 20px;
}
#settings_container .setting
{
    margin-bottom: 18px;
}
#settings_container .setting .settings_label
{
    width: 170px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    color: #000;
    margin-top: 8px;
}
#settings_container .setting .settings_field
{
    width: 500px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.5em;
}


/*********************************************** MENU ITEMS **********************************************************/
.menu_container { list-style: none; }
.menu_item
{
    width: 450px;
    height: 40px;
    list-style: none;
    cursor: move;
    color: #333;
    background-color: #F9F9F9;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #888;
    margin-bottom: 10px;
    vertical-align: middle;
}
.menu_item:hover 
{
    background-color: #F6F6F6;
}
.menu_item .menu_name 
{
    width: 330px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
    line-height: 40px;
    padding-left: 20px;
    display: inline-block;
}
.menu_item .menu_links 
{
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    width: 70px;
    text-align: right;
}
.menu_item a.menu_edit ,
.menu_item a.menu_item_delete
{
    text-align: right;
    cursor: pointer;
    text-decoration: none;
}
.menu_item a.menu_edit:hover ,
.menu_item a.menu_item_delete:hover 
{
    text-decoration: underline;
}
.menu_placeholder 
{
    width: 450px;
    height: 38px;
    border: 1px dashed #999;
    margin-bottom: 10px;
    background-color: #dfdfdf;
}


/*********************************************** Content Type ITEMS **********************************************************/
.field_container { list-style: none; min-width: 520px; }
.field_item
{
    width: 100%;
    height: 80px;
    list-style: none;
    cursor: move;
    color: #333;
    background-color: #F9F9F9;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #888;
    margin-bottom: 10px;
    padding: 8px 0px;
    vertical-align: middle;
}
.field_item:hover 
{
    background-color: #F3F3F3;
}
.field_item .field_label 
{
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    line-height: 40px;
    padding-left: 10px;
    display: inline-block;
}
.field_item .field_inputs 
{
    width: 155px;
    display: inline-block;
}
.field_item .delete_link 
{
    float: right;
    margin-right: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.field_item .delete_link:hover 
{
    color: #ddd;
}
.field_container .menu_placeholder 
{
    width: 100%;
    min-width: 520px;
    height: 96px;
    border: 1px dashed #999;
    margin-bottom: 10px;
    background-color: #dfdfdf;
}


/*********************************************** COLORS **********************************************************
Background*/
/*White blocks*/
#content.white .bloc .title{
	background-color: #ccc;
	color: #2C2C2C;
	font-weight: bold;
	border: none;
}
#content.white .bloc .title .toggle{
	background-position: left -18px;
}
#content.white .bloc .title .toggle.hide{
	background-position: right -18px;
}
#content.white .bloc .title .next{
	background-position: right -18px;
}
#content.white .bloc .title .prev{
	background-position: center -18px;
}
#content.white .bloc .tabs a{
	color: #434242;
}
/*Dark Sidebar*/
#sidebar.black{
	background-color: #262626;
	border-right: 1px solid #1B1B1B;
	/*+box-shadow:inset -4px 0 #3C3A3A;*/
	-moz-box-shadow: inset -4px 0 #3C3A3A;
	-webkit-box-shadow: inset -4px 0 #3C3A3A;
	-o-box-shadow: inset -4px 0 #3C3A3A;
	box-shadow: inset -4px 0 #3C3A3A;
}
#sidebar.black>ul>li>a{
	color: #828282;
	/*+text-shadow:0px 1px #0D0D0D;*/
	-moz-text-shadow: 0px 1px #0D0D0D;
	-webkit-text-shadow: 0px 1px #0D0D0D;
	-o-text-shadow: 0px 1px #0D0D0D;
	text-shadow: 0px 1px #0D0D0D;
	background: #222222 url(img/arrow.png) no-repeat 96% -5px;
	border-bottom: 1px solid #191919;
	border-top: 1px solid #2D2C2C;
	border-right: 4px solid #303030;
}
#sidebar.black>ul>li:hover>a, #sidebar.black ul li.current>a{
	background-color: #262626;
	color: #FFFFFF;
	border-right-color: #FFFFFF;
}
#sidebar.black ul li ul{
	background: #262626;
	/*+box-shadow:inset 0 0 15px #1B1B1B;*/
	-moz-box-shadow: inset 0 0 15px #1B1B1B;
	-webkit-box-shadow: inset 0 0 15px #1B1B1B;
	-o-box-shadow: inset 0 0 15px #1B1B1B;
	box-shadow: inset 0 0 15px #1B1B1B;
	padding: 7px 0px;
	border-right: 4px solid #3C3A3A;
	border-bottom: 0px solid #000000;
}
#sidebar.black ul ul ul{
	background: #262626;
	/*+box-shadow:inset 0 0 15px #1B1B1B;*/
	-moz-box-shadow:none;
	-webkit-box-shadow:none; 
	-o-box-shadow:none;
	box-shadow:none;
	padding: 7px 0px;
	border-right: none;
	border-bottom: 0px solid #000000;
}
.collapsed #sidebar.black ul ul{
	border-right: none;
}
#sidebar.black ul li li a{
	color: #747474;
}
/**  White **/
.white #content.login{
	color: #808080;
}
.white #content.login div.input{
	background-color: #EEEEEE;
	background-color: rgba(255, 255, 255, 0.5);
	/*+box-shadow:inset 2px 2px 5px #CECBCB;*/
	-moz-box-shadow: inset 2px 2px 5px #CECBCB;
	-webkit-box-shadow: inset 2px 2px 5px #CECBCB;
	-o-box-shadow: inset 2px 2px 5px #CECBCB;
	box-shadow: inset 2px 2px 5px #CECBCB;
	border: 1px solid #C2C1C1;
}
.white #content.login div.submit input{
	/*+box-shadow:0px 2px 5px #B2B2B2;*/
	-moz-box-shadow: 0px 2px 5px #B2B2B2;
	-webkit-box-shadow: 0px 2px 5px #B2B2B2;
	-o-box-shadow: 0px 2px 5px #B2B2B2;
	box-shadow: 0px 2px 5px #B2B2B2;
}
.white #content.login div.input label{
	color: #A7A3A3;
}


/*******
Script or plugins CSS 
*****/
/*
 * jQuery UI CSS Framework 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*
 * jQuery UI Datepicker 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/* =Btn
----------------------------------------------- */
.btn, .btn:visited {
	background-color: #FFFFDD;
	border: 1px solid #AAA;
	
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	line-height: normal;	
	color: #666;
	
	display: inline-block;
	margin: 0;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;	
}
.btn:hover 
{
    background-color: #FFFFAA;
    text-decoration: none;
}

/* =Sizes
----------------------------------------------- */
.btn { font-size: 12px; padding: 4px 8px; }
.btn.small { font-size: 11px; padding: 5px 8px; }
.btn.large { font-size: 16px; padding: 12px 18px; }
.btn.xlarge { font-size: 24px; padding: 12px 18px; }


input.finish {
	padding: 3px 9px;
}

a.button-back {
	float: left;
	text-decoration: none;
}

a.button-next {
	float: right;
	text-decoration: none;
}

fieldset.step form { width: 100%; }

fieldset.step { 
	border: 1px solid #DDD;
	width: auto;  
	padding: 25px 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
fieldset.step label 
{
    width: 200px;
    display: inline-block;
}
fieldset.step .fields 
{
    display: inline-block;
}

fieldset.step .stepy-buttons { padding: 0 .85em; margin-top: 3em; }

fieldset.step legend { font-size: 14px; font-weight: bold; padding-left: 6px; padding-right: 6px }

input.finish {
	border-style: none;
	cursor: pointer;
	float: right;
	text-decoration: none;
}

li.error-image {
	background: url('../img/error.png') no-repeat right top;
}



/*** Optionaly (jQuery Validate) ***/

label.error {
	background: url('../img/alert.png') no-repeat;
	color: #DE5130;
	display: block;
	float: left;
	font: 10px verdana;
	height: 16px;
	margin: 5px 3px 0 10px;
	padding-left: 21px;
	padding-top: 2px;
}

input.error, select.error, textarea.error {
	background-color: #FAF4F4;
}


/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     /Content/Images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
	cursor: pointer;
}

.paginate_disabled_previous {
	background-image: url('/Areas/Admin/Content/Images/dataTables/back_disabled.png');
}

.paginate_enabled_previous {
	background-image: url('/Areas/Admin/Content/Images/dataTables/back_enabled.png');
}

.paginate_disabled_next {
	background-image: url('/Areas/Admin/Content/Images/dataTables/forward_disabled.png');
}

.paginate_enabled_next {
	background-image: url('/Areas/Admin/Content/Images/dataTables/forward_enabled.png');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	border-collapse: collapse;
	-webkit-box-shadow: 3px 3px 8px #999;
	-moz-box-shadow: 3px 3px 8px #999;
	box-shadow: 3px 3px 8px #999;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

table.data tbody td a.post_title { font-weight: bold; text-decoration: none; font-size: 13px; line-height: 22px; color: #0A93CC;}
table.data tbody td a.post_title:hover { text-decoration: underline; }
table.data tbody td a.post_action { text-decoration: none; color: #0A93CC; }
table.data tbody td a.post_action:hover { text-decoration: underline; }
table.data tbody td .post_entry_actions { visibility: hidden }

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('/Areas/Admin/Content/Images/dataTables/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('/Areas/Admin/Content/Images/dataTables/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('/Areas/Admin/Content/Images/dataTables/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/Areas/Admin/Content/Images/dataTables/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/Areas/Admin/Content/Images/dataTables/sort_desc_disabled.png') no-repeat center right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/* =Button Colors
----------------------------------------------- */
.btn.primary,
.btn.primary:visited { background-color: #066ECD; border-color: #0561B4; color: #FFF; }
.btn.primary:hover { background-color: #0561B4; }

.btn.secondary,
.btn.secondary:visited  { background-color: #999; border-color: #888; color: #FFF; color: #FFF; }
.btn.secondary:hover{ background-color: #888; color: #FFF; }

.btn.tertiary,
.btn.tertiary:visited  { background-color: #CCC; border-color: #bbb; color: #444; text-shadow: 1px 1px 1px rgba(255,255,255,.8); }
.btn.tertiary:hover{ background-color: #bbb; color: #444; }

.btn.primary { background-image: url(/Areas/Admin/Content/Images/btn-35.png); background-position: 0 0; }
.btn.secondary { background-image: url(/Areas/Admin/Content/Images/btn-50.png); background-position: 0 0; }
.btn.tertiary { background-image: url(/Areas/Admin/Content/Images/btn-100.png); background-position: 0 0; }

.btn.block { display: block; margin-bottom: .75em; }


/* =Data Table [OVERRIDE]
----------------------------------------------- */
.paging_full_numbers span.paginate_button
, .paging_full_numbers span.paginate_active {
	padding: 3px 8px;
}

.paging_full_numbers span.paginate_active {	
	font-size: 11px;
	color: #FFF;
}

.paginate_button
, .paginate_active { display: inline-block; }


table.display thead tr { 
	background: #EEE;
	background:-moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EEEEEE)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* IE10+ */
	background:linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%); /* W3C */	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFF', endColorstr='#FFFFF')";
}

.dataTables_info { width: 38%; }
.dataTaebles_paginate { width: 60%; }
.dataTables_info
, .dataTables_paginate { margin-top: 2em; }

.dataTables_length
, .dataTables_filter { margin-bottom: 1em; }

/* COMMENTS
----------------------------------------------------------*/
#comments 
{
    width: 100%;
    padding: 0px;
    margin-bottom: 12px;
    list-style: none;
}
#comments li, #comments ul
{
    list-style: none;
    margin: 0px;
}
#comments .comment_box 
{
    margin: 0px;
    margin-top: 20px;
    position: relative;
    border-bottom: 1px dotted #ccc;
}
#comments .comment_box .avatar 
{
    position: absolute;
    top: 4px;
    left: 0px;
}
#comments .comment_box .body 
{
    margin-left: 50px;
}
#comments .comment_box .body .name 
{
    font-style: italic;
    font-size: 1.2em;
    color: #333;
}
#comments .comment_box .body .date 
{
    color: #888;
    font-size: .9em;
}
#comments .comment_box .body .message 
{
    font-size: 1em;
    color: #333;
}

.block_container 
{
    margin: 2px;
    padding: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    width: 230px;
    height: 50px;
    cursor: pointer;
    float: left;
    overflow: hidden;
    color: #6d6d6d;
}
.block_container h5 
{
    font-size: 14px;
    color: #5A5656;
    padding: 0px 0px 5px;
    font-weight: bold;
}
.block_container:hover 
{
    background-color: #dfdfdf;
}
.block_container .info 
{
    font-size: 11px;
    line-height: 14px;
}
.block_container .delete_link 
{
    float: right;
    margin: 0px;
    margin-top: -4px;
    color: #ccc;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    display: none;
}
.block_container .delete_link:hover 
{
    color: #ddd;
}
.block_placeholder 
{
    width: 238px;
    height: 58px;
    border: 1px dashed #999;
    margin: 2px;
    background-color: #dfdfdf;
    z-index: 999px;
}
.blocks_draggable { display: inline-block; }
#block_settings_modal
{
    height: 400px;
    width: 350px;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #000;
	-moz-box-shadow: 0px 0px 15px #111;
	-webkit-box-shadow: 0px 0px 15px #111;
	-o-box-shadow: 0px 0px 15px #111;
	box-shadow: 0px 0px 15px #111;
    display: none;
}
#block_dialog_content h2 {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	line-height: 25px;
    margin-bottom: 6px;
}
#block_loading_overlay 
{
    background-color: #eee;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1200;
    display: none;
}
#block_loading_notif 
{
    margin-top: 20px;
    margin-left: 150px;
}
#block_form_content
{
    margin-bottom: 8px;
}
#block_form_content label
{
    display: block;
    line-height: 18px;
    margin-top: 10px;
}
#block_form_content input
{
    width: 90%;
    clear: both;
}
#block_form_content textarea
{
    width: 90%;
    height: 80px;
    clear: both;
    margin-bottom: 12px;
}
#block_form_content span
{
    font-style: italic;
    color: #888;
    font-size: 11px;
    margin-top: 4px;
}