﻿@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

<div class="container_12">
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <h2>Change Password</h2>
        <p>
            Your password has been changed successfully!
        </p>
    </div>
</div> <!-- .grid -->