﻿@model ChangePasswordViewModel
@using SourPickleCMS.Core.Models.ViewModels

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="container_12">
@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <fieldset>
            <h2>Change Password</h2>
            <p>
                Use the form below to change your password. 
            </p>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div><br />

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div><br />

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div><br /><br />

            <p>
                @Html.AntiForgeryToken()
                <input type="submit" value="Change Password" />
            </p>
        </fieldset>
    </div>
}
</div> <!-- .grid -->