﻿@model LogOnViewModel
@using SourPickleCMS.Core.Models.ViewModels

@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

<script src="@Url.Content("~/Scripts/Libs/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Libs/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="container_12">

@using (Html.BeginForm())
{
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <fieldset>
            <h2>Log On</h2>
            <p>
                Please enter your email and password.
            </p>
            <p>
                @Html.ActionLink("Don't have an account? Register for one now!", "Register")
            </p><br />
            @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

            <div class="editor-label">
                @Html.LabelFor(m => m.Username):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div><br />

            <div class="editor-label">
                @Html.LabelFor(m => m.Password):
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div><br />

            @if (ViewBag.AppSettings["AllowRememberLogin"] == "true")
            {
                <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
                </div><br /><br />
            }

            <p>
                @Html.AntiForgeryToken()
                <input type="submit" value="Log On" />
            </p>
            <p>
                @Html.ActionLink("Forgot your password? Request a reset here.", "ResetPassword")
            </p>
        </fieldset>
    </div>
}
</div> <!-- .grid -->