﻿@model RegisterViewModel
@using SourPickleCMS.Core.Models.ViewModels

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="container_12">
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <fieldset>
            <h2>Create a New Account</h2>
            <p>
                Use the form below to create a new account. 
            </p>

            <div class="editor-label">
                @Html.LabelFor(m => m.Username):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmEmail):
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ConfirmEmail)
                @Html.ValidationMessageFor(m => m.ConfirmEmail)
            </div><br /><br />

            <div class="editor-label">
                @Html.LabelFor(m => m.Password):
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword):
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div><br /><br />

            @if (ViewBag.AppSettings["RequireAgreeToTerms"] == "true")
            {
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.AgreeToTerms)
                @Html.LabelFor(m => m.AgreeToTerms)
            </div><br /><br />
            }

            <p>
                @Html.AntiForgeryToken()
                <input type="submit" value="Register" />
            </p>
            <p>
                @Html.ActionLink("Already have an account?  Login here.", "LogOn")
            </p>
        </fieldset>
    </div>
}
</div> <!-- .grid -->