﻿@model ResetPasswordViewModel
@using SourPickleCMS.Core.Models.ViewModels;

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="container_12">
@Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <fieldset>
            <h2>Reset Password</h2>
            <p>
                Use the form below to reset your password. 
            </p>

		    <div class="field input">
			    <label>Enter the email address associated with your account:</label>
			    <div class="fields">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email Address", size = "50" })
                    @Html.ValidationMessageFor(m => m.Email)
			    </div> <!-- .fields -->
		    </div> <!-- .field --><br /><br />

            <p>
                @Html.AntiForgeryToken()
                <input type="submit" value="Request Password Reset" />
                <a href="/User/LogOn" class="cancel">Cancel</a>
            </p>
        </fieldset>
    </div>
}
</div> <!-- .grid -->