﻿@{
    ViewBag.Title = "Reset Password Success";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}
@section header {
    <h2>Password Reset</h2>
}

<div class="container_12">
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <h2>Your password was reset successfully!</h2>

        <p>
            You should be receiving your new temporary password in your e-mail shortly. Once you login in with your new password, don't forget to change it from your Account page.
        </p>
    </div>
</div> <!-- .grid -->