﻿@{
    ViewBag.Title = "Account Suspended";
    Layout = "~/Views/Shared/_SitePage.cshtml";
}
@section header {
    <h2>Account Suspended</h2>
}

<div class="container_12">
    <div class="grid_6 prefix_3 suffix_3" style="margin-top: 30px;">
        <h2>Your account has been suspended</h2>
        <p>
            If you feel this is in error.  Please contact us.
        </p>
    </div>
</div> <!-- .grid -->