﻿@model IList<Category>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = ViewBag.ContentType.Name + " Categories";
    ViewBag.Page = ViewBag.ContentType.Slug + "_categories";
}
@section header {
    @ViewBag.ContentType.Name Categories
}

<table class="post_content" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="post_content_left">
            <br />
            <table class="data display">				<thead>					<tr>						<th>Name</th>						<th>Slug</th>						<th>Template</th>						<th>Posts</th>						<th>&nbsp;</th>					</tr>				</thead>				<tbody>                    @if (Model.Count() > 0)
                    {
                        foreach (Category cat in Model)
                        {
						    <tr>							    <td>@cat.Name</td>				                <td>@cat.Slug</td>
                                <td>@cat.DefaultTemplate</td>
							    <td>@cat.PostCount</td>                                <td>                                    @if (cat.Slug != "uncategorized")                                    {                                        <a href="javascript://" class="post_action" onclick="confirm_delete_category('@cat.Id', '@cat.ContentType')">Delete</a>                                    }                                </td>						    </tr>
                        }
                    }                </tbody>            </table>
        </td> <!-- .post_content_left -->

        <td class="post_content_right">
            <div class="bloc">
                <div class="title">
                    Add New Category
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    @Html.Partial("_NewCategory", new Category())
                </div> <!-- .content -->
            </div> <!-- .bloc -->

        </td> <!-- .post_content_right -->
    </tr>
</table>
