﻿@model IEnumerable<Comment>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "All Comments";
    ViewBag.Page = "comments";
}
@section header {
    All Comments
}

<table class="data display datatable">
    <thead>
        <tr>
            <th>Author</th>
            <th>Post</th>
            <th>Comment</th>
            <th>Karma</th>
            <th>Created</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (Comment item in Model)
            {
                if (item.Title.Length > 250) { item.Title = item.Post.Title.Substring(0, 250) + "..."; }
			    <tr class="post_entry">
				    <td>@item.AuthorName</td>
				    <td>@item.Post.Title</td>
				    <td>@item.Message</td>
				    <td>@item.Karma</td>
				    <td>@item.CreateDate.ToShortDateString() @item.CreateDate.ToShortTimeString()</td>
				    <td><a href="@Url.Action("DeleteComment", "Posts", new { id = item.CommentID })" class="post_action">Delete</a></td>
			    </tr>
            }
        }
        else
        {
			<tr class="post_entry">
                <td></td>
				<td>No comments have been posted</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        }
    </tbody>
</table>