﻿@model PostEditViewModel
@using SourPickleCMS.Core.Models.ViewModels
@using SourPickleCMS.Core.Models

@{
    if (Model.Post.Id == "")
    {
        ViewBag.Title = "Add New " + Model.Post.ContentType.Name;
        ViewBag.Page = "new_" + Model.Post.ContentType.Slug;
    }
    else
    {
        ViewBag.Title = "Edit " + Model.Post.ContentType.Name;
        string plural = Model.Post.ContentType.PluralName.ToLower().Replace(' ', '_');
        ViewBag.Page = plural;
    }
}
@section header {
    @if (Model.Post.Id == "")
    {
        @((Model.Post.ContentType.Slug == "blog") ? "New Post" : "New " + Model.Post.ContentType.Name)
    }
    else
    {
        @((Model.Post.ContentType.Slug == "blog") ? "Edit Post" : "Edit " + Model.Post.ContentType.Name)
    }
}
@section scripts {
    <script src="/Areas/Admin/Scripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinyMCE.init({
    		mode : "textareas",
    		theme : "advanced",
    		plugins : "autolink,lists,advimage,advlink,inlinepopups,contextmenu,paste,fullscreen",
    		theme_advanced_buttons1 : "undo,redo,|,cut,copy,paste,pastetext,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,|,formatselect,fontselect,fontsizeselect",
    		theme_advanced_buttons2: "forecolor,backcolor|,bullist,numlist,|,outdent,indent,blockquote,|,hr,removeformat,|,charmap,link,unlink,anchor,image,fullscreen,code",
            theme_advanced_buttons3 : "",
    		theme_advanced_toolbar_location : "top",
    		theme_advanced_toolbar_align : "left",
    		theme_advanced_statusbar_location : "bottom",
    		theme_advanced_resizing : false,
    		skin: "o2k7",
            width: "100%",
    		skin_variant : "silver",
    		content_css : ""
        });

        $(document).ready(function () {
            if ($("#permalink").length > 0) {
                $("#Post_Title").change(function () {
                    get_slug();
                });

                $("#Post_CategoryID").change(function () {
                    check_slug();
                });
            }
        });

        function get_slug() {
            var params = { title: $("#Post_Title").val(), catslug: $("#Post_Category_Slug").val(), ContentType: $("#Post_ContentType_Slug").val() };
            $("#slug_loader").css("display", "inline-block");

            $.ajax({
                url: "/Admin/Ajax/GetUniqueSlug",
                data: params,
                dataType: "html",
                success: function (data) {
                    var slug = "";
                    if ($("#Post_ContentType_Slug").val() != "page") slug += "/" + $("#Post_ContentType_Slug").val();
                    $("#Post_Slug").val(data);
                    if ($("#Post_Category_Slug").val() != "" && $("#Post_Category_Slug").val() != "uncategorized") slug = "/" + $("#Post_Category_Slug").val();
                    $("#permalink").html(slug + "/" + data);
                    $("#slug_loader").css("display", "none");
                },
                error: function () {
                    $("#permalink").html("There was an error retrieving a valid slug.");
                    $("#slug_loader").css("display", "none");
                }
            });
        }

        function check_slug() {
            var params = { slug: $("#Post_Slug").val(), catslug: $("#Post_Category_Slug").val(), ContentType: $("#Post_ContentType_Slug").val() };
            $("#slug_loader").css("display", "inline-block");

            $.ajax({
                url: "/Admin/Ajax/CheckSlug",
                data: params,
                dataType: "html",
                success: function (data) {
                    var slug = "/" + $("#Post_ContentType_Slug").val();
                    $("#Post_Slug").val(data);
                    if ($("#Post_Category_Slug").val() != "" && $("#Post_Category_Slug").val() != "uncategorized") slug = "/" + $("#Post_Category_Slug").val();
                    $("#permalink").html(slug + data);
                    $("#slug_loader").css("display", "none");
                },
                error: function () {
                    $("#permalink").html("There was an error retrieving a valid slug.");
                    $("#slug_loader").css("display", "none");
                }
            });
        }
    </script>
}

@using (Html.BeginForm((Model.Post.Id == "") ? "New" : "Edit", "Posts"))
{
<table class="post_content" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="post_content_left">
            @Html.ValidationSummary(true, "Page save was unsuccessful. Please correct the errors and try again.")
		    <div class="field input">
			    <h3 style="margin-bottom: 0.25em">Title:</h3>
			    <div class="fields">
                    @Html.TextBoxFor(model => model.Post.Title, new { placeholder = Model.Post.ContentType.Name + " Title", style = "width: 98%; font-weight: bold" })
                    @Html.ValidationMessageFor(model => model.Post.Title)
			    </div> <!-- .fields -->
		    </div> <!-- .field --><br />

   		    <div class="field input">
			    <div class="fields">
                        <span>Permanent link: ( <span id="permalink">/@if (Model.Post.ContentType.Slug != "page")
                                                                      {<span>@Model.Post.ContentType.Slug/</span>}@if (Model.Post.Category != null && Model.Post.Category.Slug != "uncategorized")
                                                                                                                  {<span>@Model.Post.Category.Slug/</span>}@Html.DisplayFor(model => model.Post.Slug)</span> )</span>
                        @Html.HiddenFor(model => model.Post.Slug) &nbsp; <img id="slug_loader" src="/Areas/Admin/Content/Css/img/loader.gif" style="height: 18px; display: none" />
			    </div> <!-- .fields -->
		    </div> <!-- .field --><br />
        
            @if (Model.Post.ContentType.UsesEditor)
            {
   		    <div class="field input">
			    <h3 style="margin-bottom: 0.25em">Content:</h3>
			    <div class="fields">
                    @Html.TextAreaFor(model => model.Post.Body, new { rows = "28", style = "width: 98%", placeholder = "Content goes here..." })
                    @Html.ValidationMessageFor(model => model.Post.Body)
			    </div> <!-- .fields -->
		    </div> <!-- .field -->
            }

            
            <div class="bloc">
                <div class="title">
                    Custom Fields
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    <div id="custom_field_container">
                        <div class="custom_field_blank custom_field_entry" style="display: none">
			                <label class="field_label"><input type="text" class="post_field_name" disabled="disabled" style="width: 100px" /></label>
			                <div class="field_input">
                                <input type="text" class="post_field_value" style="width: 150px" />
                                <button type="button" class="post_field_update btn">Update</button>
                                <button type="button" class="post_field_delete btn">Delete</button>
                                <img class="custom_field_status" src="/Areas/Admin/Content/Css/img/loader.gif" style="height: 22px; display: none" />
        			        </div> <!-- .fields -->
                        </div>
                        @if (Model.Post.Fields != null)
                        {
                            foreach (Field pf in Model.Post.Fields.Where(p => p.IsCustomField))
                            {
                                <div class="custom_field_entry" id="custom_field_@pf.Name">
			                        <label class="field_label"><input type="text" class="post_field_name" disabled="disabled" style="width: 100px; color: #000" value="@pf.Name" /></label>
			                        <div class="field_input">
                                        <input type="text" class="post_field_value" value="@pf.Value" style="width: 150px" />
                                        <button type="button" class="post_field_update btn">Update</button>
                                        <button type="button" class="post_field_delete btn">Delete</button>
                                        <img class="custom_field_status" src="/Areas/Admin/Content/Css/img/loader.gif" style="height: 22px; display: none" />
        			                </div> <!-- .fields -->
                                </div><br />
                            }
                        }
                    </div>
                    <div id="custom_field_form">
                        @{ ViewBag.ContentType = Model.Post.ContentType; }
                        @Html.Partial("_NewCustomFieldForm", new Field())
                    </div><br />
                </div>
            </div> <!-- .bloc -->

            @if (Model.Post.Id != "")
            {
                <div class="bloc">
                    <div class="title">
                        Revisions
                        <a href="#" class="toggle"></a>
                    </div>
                    <div class="content">
                        <table class="data display">				            <thead>					            <tr>						            <th>Date</th>						            <th>Author</th>						            <th>&nbsp;</th>					            </tr>				            </thead>				            <tbody>                                @if (Model.Revisions != null)
                                {
                                    bool oddrow = true;
                                    string cl = "";
                                    foreach (Post rev in Model.Revisions)
                                    {
                                        if (oddrow) { cl = "odd"; oddrow = false; } else { cl = "even"; oddrow = true; };						                <tr class="@cl">							                <td>@rev.CreateDate.ToShortDateString() @rev.CreateDate.ToShortTimeString()</td>				                            <td>@rev.Username</td>
							                <td></td>						                </tr>
                                    }
                                }                            </tbody>                        </table>
                    </div>
                </div>
            }
        </td> <!-- .post_content_left -->

        <td class="post_content_right">
            <div class="bloc post_content_block">
                <div class="title">
                    Information
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    @if (Model.Post.Id != "")
                    {
		                <div class="field input">
			                <div class="fields">
                                Created: @Model.Post.CreateDate.ToShortDateString() @Model.Post.CreateDate.ToShortTimeString()
			                </div> <!-- .fields -->
		                </div> <!-- .field --><br />

                        <div class="field input">
			                <div class="fields">
                                Last Updated: @Model.Post.LastUpdatedDate.ToShortDateString() @Model.Post.LastUpdatedDate.ToShortTimeString()
			                </div> <!-- .fields -->
		                </div> <!-- .field --><br />

                        <div class="field input">
			                <div class="fields">
                                Author: @Model.Post.Username
			                </div> <!-- .fields -->
		                </div> <!-- .field --><br />
                    }
            
		            <div class="field input">
			            <label>Status:</label>
			            <div class="fields">
                            @Html.StatusDropDownListFor(m => m.Post.Status)
			            </div> <!-- .fields -->
		            </div> <!-- .field --><br />

                    @if (Model.Post.Id != "")
                    {
		                <div class="field input">
			                <div class="fields">
                                @Html.CheckBoxFor(m => m.SaveBackup) Save a Backup?
			                </div> <!-- .fields -->
		                </div> <!-- .field --><br />
                    }

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Post.Id)
                    @Html.HiddenFor(m => m.Post.CreateDate)
                    @Html.HiddenFor(m => m.Post.ContentType.Slug)
                    @Html.HiddenFor(m => m.Post.Username)
                    <input type="hidden" id="Post_Type" value="@Model.Post.ContentType.Slug" />
		            <div class="actions">
			            <button type="submit" class="btn">Save @Model.Post.ContentType.Name</button> @Html.ActionLink("Cancel", "Index")
		            </div> <!-- .actions -->
                </div> <!-- .content -->
            </div> <!-- .bloc -->

            <div class="bloc">
                <div class="title">
                    Attributes
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    @if (Model.Post.ContentType.Id != "blog")
                    {
		            <div class="field input">
			            <label>Template:</label>
			            <div class="fields">
                            @Html.TemplateDropDownListFor(m => m.Post.TemplateName)
                            @Html.ValidationMessageFor(m => m.Post.TemplateName)
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />
                    }

                    @if (Model.Post.ContentType.Slug != "page")
                    {
		                <div class="field input">
			                <label>Category:</label>
			                <div class="fields">
                                @Html.CategoriesDropDownListFor(m => m.Post.Category.Slug, Model.Post.ContentType.Slug) <button type="button" class="btn" onclick="new_category_dialog();">Add New</button>
                                @Html.ValidationMessageFor(m => m.Post.Category.Slug)
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />
                    }
                    else
                    {
                        @Html.Hidden("Post_Category_Slug", "")
                    }

                    @if (Model.Post.ContentType.Id != "blog")
                    {
		                <div class="field input">
			                <label>Page Order:</label>
			                <div class="fields">
                                @Html.TextBoxFor(m => m.Post.Order, new { size = 5 })
                                @Html.ValidationMessageFor(m => m.Post.Order)
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />
                    }

		            <div class="field input">
			            <label>Permissions:</label>
			            <div class="fields">
                            @Html.RolesDropDownList("Post.Role", Model.Post.Role.ToString())
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />
                </div>
            </div> <!-- .bloc -->

            @if (Model.Post.ContentType.Id != "blog" && Model.Post.Id != "" && Model.Post.Fields != null)
            {
                <div class="bloc">
                    <div class="title">
                        Fields
                        <a href="#" class="toggle"></a>
                    </div>
                    <div class="content">
                        @foreach (Field pf in Model.Post.Fields.Where(p => p.IsCustomField == false))
                        {
		                    <div class="field input">
			                    <label>@pf.Name:</label>
			                    <div class="fields">
                                    @Html.TextBox(pf.Value)
        			            </div> <!-- .fields -->
		                    </div> <!-- .field --><br />
                        }
                    </div>
                </div> <!-- .bloc -->
            }
            <div class="bloc">
                <div class="title">
                    Attached Image
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    @if (!String.IsNullOrWhiteSpace(Model.Post.AttachedImageId))
                    {
                        @Html.GetImageThumbnail(Model.Post.AttachedImageId)<br />
                        @Html.ActionLink("Edit image", "EditMedia", "Posts", new { id = Model.Post.AttachedImageId }, null)
                    }
                    else if (Model.Post.Id != null)
                    {
                        @Html.ActionLink("Attach an image", "NewMedia", "Posts", new { id = Model.Post.Id }, null)
                    }
                </div>
            </div> <!-- .bloc -->

        </td> <!-- .post_content_right -->
    </tr>
</table>
}