﻿@model Post
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "Edit Media";
    ViewBag.Page = "media";
}
@section header {
    Edit Media
}

@using (Html.BeginForm("EditMedia", "Posts"))
{
    @Html.GetImageThumbnail(Model.Id)
    <div id="settings_container">

        <div class="setting">
            <div class="settings_label">File Name</div>
            <div class="settings_field">@Model.Slug</div>
        </div>

        <div class="setting">
            <div class="settings_label">Mime Type</div>
            <div class="settings_field">@Model.MimeType</div>
        </div>

        <div class="setting">
            <div class="settings_label">Uploaded On</div>
            <div class="settings_field">@Model.CreateDate.ToShortDateString() @Model.CreateDate.ToShortTimeString()</div>
        </div>

        <div class="setting">
            <div class="settings_label">Title</div>
            <div class="settings_field">@Html.TextBoxFor(m => m.Title, new { size = "50", placeholder = "Image title" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Alternate Text</div>
            <div class="settings_field">@Html.TextBoxFor(m => m.AltText, new { size = "50", placeholder = "Alternate text for accessbility" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Caption</div>
            <div class="settings_field">@Html.TextBoxFor(m => m.Caption, new { size = "50", placeholder = "Gallery caption" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Required Permissions</div>
            <div class="settings_field">@Html.RolesDropDownList("Role", Model.Role.ToString())</div>
        </div>

        <div class="setting">
            <div class="settings_label">Category</div>
            <div class="settings_field">@Html.CategoriesDropDownListFor(m => m.Category.Slug, Model.ContentType.Slug)</div>
        </div>

        <div class="setting">
            <div class="settings_label">File URL</div>
            <div class="settings_field">
                <strong>@Html.AppSettings()["SiteURL"]/Uploads/@Model.CreateDate.Year.ToString()/@Model.CreateDate.Month.ToString()/@Model.Slug</strong><br />
                <i>(This is the physical location of the full-size file on your server)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.ParentID)
                <input type="submit" class="btn" value="Save Changes" /> <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
            </div>
        </div>
    </div>
}