﻿@model IList<Post>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "All " + ViewBag.ContentType.PluralName;
    ViewBag.Page = "all_" + ViewBag.ContentType.Slug;
}
@section header {
    All @ViewBag.ContentType.PluralName
}

@{
    string type = "Add New " + ViewBag.ContentType.Name;
    @Html.ActionLink(type, "New", new { ContentType = ViewBag.ContentType.Slug }, new { @class = "btn" });
}

<hr />
<table class="data display datatable">
    <thead>
        <tr>
            <th><input type="checkbox" class="checkall"/></th>
            <th>Title</th>
            <th>Author</th>
            @if (ViewBag.ContentType.Slug != "page") { <th>Category</th> }
            <th>Status</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (Post item in Model)
            {
			    <tr class="post_entry" id="post_entry_@item.Id">
                    <td><input type="checkbox" /></td>
				    <td>
                        @Html.ActionLink(item.Title, "Edit", new { id = item.Id }, new { @class = "post_title" })
                        <div class="post_entry_actions">
                            @Html.ActionLink("View", "Index", "Post", new { id = item.Id, Area = "" }, new { @class = "post_action" }) |
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="post_action">Edit</a> |
                            <a href="javascript://" class="post_action" onclick="confirm_delete_single('@item.Id', '@item.ContentType.Slug')">Delete</a>
                        </div>
                    </td>
				    <td>@item.Username</td>
				    @if (ViewBag.ContentType.Slug != "page") { <td>@if (item.Category != null)
            { <span>@item.Category.Name</span> }</td> }
				    <td>@item.Status</td>
				    <td>
                        @item.CreateDate.ToShortDateString()<br />
                        @item.CreateDate.ToShortTimeString()
                    </td>
			    </tr>
            }
        }
        else
        {
			<tr class="post_entry">
                <td></td>
				<td>No @ViewBag.ContentType.PluralName have been created<br />&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        }
    </tbody>
</table>