﻿@model IEnumerable<Post>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "All Media";
    ViewBag.Page = "all_media";
}
@section header {
    All Media
}

@Html.ActionLink("Add New Media", "NewMedia", null, new { @class = "btn" })
<hr />
<table class="data display datatable">
    <thead>
        <tr>
            <th>File</th>
            <th>Author</th>
            <th>Category</th>
            <th>Attached To</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (Post item in Model)
            {
			    <tr class="post_entry" id="post_entry_@item.Id">
				    <td>
                        @Html.ActionLink(item.Title, "EditMedia", new { id = item.Id }, new { @class = "post_title" })<br />
                        <div class="post_entry_actions">
                            @Html.ActionLink("View", "Index", "Post", new { id = item.Id, Area = "" }, new { @class = "post_action" }) |
                            <a href="@Url.Action("EditMedia", new { id = item.Id })" class="post_action">Edit</a> |
                            <a href="javascript://" class="post_action" onclick="confirm_delete_single('@item.Id', '@item.ContentType.Id')">Delete</a>
                        </div>
                    </td>
				    <td>@item.Username</td>
				    <td>@if (item.Category != null)
            { <span>@item.Category.Name</span> }</td>
				    <td>
                        @if (!String.IsNullOrWhiteSpace(item.ParentID))
                        {
                            @Html.ActionLink(item.ParentID, "Edit", new { id = item.ParentID }, new { @class = "post_title" })
                        }
                        else
                        {
                            <span>Un-attached</span>
                        }
                    </td>
				    <td>
                        @item.CreateDate.ToShortDateString()<br />
                        @item.CreateDate.ToShortTimeString()
                    </td>
			    </tr>
            }
        }
        else
        {
			<tr class="post_entry">
                <td></td>
				<td>No media has been uploaded<br />&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        }
    </tbody>
</table>