﻿@model Post
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "Add Media";
    ViewBag.Page = "new_media";
}
@section header {
    Add Media
}

@using (Html.BeginForm("UploadMedia", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="settings_container">
        <div class="setting">
            <div class="settings_label">Upload a file:</div>
            <div class="settings_field">
                <input type="file" name="file" style="height: 22px; width: 400px" /><br />
                <i>
                    Maximum file size is @Html.AppSettings()["MaxFileUploadSize"]MB.<br />
                    You will be able to enter the file details after it has been uploaded.<br />
                    (You can only upload image files at this time)
                </i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.AntiForgeryToken()
                <input type="hidden" id="parentid" name="parentid" value="@Model.ParentID" />
                <input type="submit" class="btn" value="Upload File" />
            </div>
        </div>
    </div>
}