﻿/* 
 * HTML5 ✰ Boilerplate
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 * Detailed information about this CSS: h5bp.com/css
 * ==|== normalize ==========================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
/* =============================================================================
   Base
   ========================================================================== */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #333; }
/* =============================================================================
   Links
   ========================================================================== */
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* =============================================================================
   Lists
   ========================================================================== */
ul, ol { margin: 1em 0; padding: 0px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
/* =============================================================================
   Embedded content
   ========================================================================== */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
/* =============================================================================
   Figures
   ========================================================================== */
figure { margin: 0; }
/* =============================================================================
   Forms
   ========================================================================== */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
   
@font-face {
    font-family: 'KomikaTextBold';
    src: url('Fonts/KOMTXTB-webfont.eot');
    src: url('Fonts/KOMTXTB-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/KOMTXTB-webfont.ttf') format('truetype'),
         url('Fonts/KOMTXTB-webfont.svg#KomikaTextBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-size: 62.5%; /* This keeps font size ems to multiples of 10px rather than 16px */
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-Serif;
    color: #444;
    background-color: #fcfcfc;
}

a:link,
a:visited {
    color: #237272;
    text-decoration: none;
}
a:hover,
a:active {
    color: #237272;
    text-decoration: underline;
}

p, ul {
    margin-bottom: 10px;
    line-height: 1.75em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 
{
    font-size: 1.75em;
    padding: 0px;
    margin: 0px 0px 8px 0px;
    clear: both;
}

h3 {
    font-size: 1.1em;
    margin: 14px 0px 4px 0px;
    padding-bottom: 3px;
}

h4 {
    font-size: 1.1em;
}
h5 {
    font-size: .95em;
    font-weight: normal;
    color: #888;
}
h6 {
    font-size: .85em;
    font-weight: normal;
    color: #aaa;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#header 
{
    width: 100%;
    background-color: #1c1c1c;
}
#header .menu_bar h1
{
    font-family: "KomikaTextBold", "Trebuchet MS", Verdana, Helvetica, Arial, Sans-Serif;
    margin: 8px 0px 0px 0px;
    color: #eee;
    border: none;
    font-size: 3em;
    letter-spacing: 1px;
}
#header .menu_bar span 
{
    font-size: 1.15em;
    line-height: 1.25em;
    color: #ccc;
}
#header .menu_bar h1 .logo_green { color: #56b42a; margin: 0px; }
#header .top_bar 
{
    width: 100%;
    height: 30px;
    background-color: #272727;
    border-bottom: 1px solid #4f4f4f;
}
#header .menu_bar 
{
    height: 85px;
}
#pre_body 
{
    width: 100%;
    background-color: #1c1c1c;
    height: 300px;
    border-bottom: 5px solid #dadada;
}
#pre_body .content 
{
    border-top: 2px solid #282828;
}
#pre_body .pickle img
{
    margin: 6px 0px 0px 30px;
}
#body 
{
    width: 100%;
    padding-bottom: 120px;
    padding-top: 20px;
    font-size: 1.15em;
}

#footer {
    position: absolute;
    bottom: 0;
    border-top: 5px solid #dadada;
    background-color: #1c1c1c;
    height: 95px;
    width: 100%;
    font-size: 1.1em;
}
#footer .content 
{
    color: #666;
    padding-top: 30px;
    line-height: 1.5em;
}
#footer .content h1 
{
    margin: 0;
    color: #666;
    border: none;
    font-size: 1.5em;
}
#footer a:link,
#footer a:visited {
    color: #56b42a;
    text-decoration: none;
}
#footer a:hover,
#footer a:active {
    color: #56b42a;
    text-decoration: underline;
}
.col 
{
    float: left;
    width: 45%;
}
.col img { margin: 6px 0px; border: 1px solid #aaa; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35); }
.right-col 
{
    float: right;
    width: 45%;
}
.right-col img { margin: 6px 0px; border: 1px solid #aaa; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35); }
.col h3,
.right-col h3 
{
    border-bottom: 1px dotted #666;
    text-transform: uppercase;
}

/* SIDEBARS
----------------------------------------------------------*/
#sidebar 
{
}
#sidebar aside
{
    border: 1px solid #C4C4C4;
    background-color: rgba(216, 216, 216, 0.35);
    padding: 12px;
    font-size: 1.05em;
    margin-bottom: 18px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.35);
}
#sidebar aside h3 
{
    padding-bottom: 10px;
    border-bottom: 1px dotted #D0D0D0;
    margin-bottom: 8px;
    text-transform: uppercase;
}
#sidebar aside ul 
{
    list-style: none;
    margin: 0px;
}
#sidebar aside li 
{
    list-style: none;
    margin: 0px;
}
#block-blocks-3 a 
{
    display: block;
    font-size: 1.25em;
    border-bottom: 1px dotted #D0D0D0;
    padding: 12px 0px;
}
#block-blocks-3 h3 
{
    margin-bottom: 0px;
}

/* TAB MENU   
----------------------------------------------------------*/
.nav-menu { float: right; display: inline; }
ul#menu-primary-navigation {
    margin: 0;
    text-align: right;
    margin: -5px 0px 0px 0px;
}

ul#menu-primary-navigation li {
    display: inline;
    list-style: none;
    margin: 0 5px 0px 0px;
}

ul#menu-primary-navigation li a {
    padding: 8px 15px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1em;
    color: #aaa;
    text-transform: uppercase;
    border-radius: 2px;
}

ul#menu-primary-navigation li a:hover, ul#menu-primary-navigation li a.current-page {
    background-color: #292929;
    color: #eee;
    border: 1px solid #454545;
    padding: 7px 14px;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    box-shadow: 3px 3px 12px #aaa;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 1.2em;
    color: #555;
    width: 200px;
}
input[type="text"]:hover, 
input[type="password"]:hover,
input[type="text"]:focus, 
input[type="password"]:focus {
    border: 1px solid #888;
    background-color: #efefef;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"], input[type="button"] 
{
    background-color: #29A4A4;
    color: #eee;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #666;
    box-shadow: 2px 1px 4px #aaa;
}
input[type="submit"]:hover, input[type="button"]:hover
{
    background-color: #179292;
}
textarea
{
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 1.1em;
    color: #555;
}
textarea:hover
{
    border: 1px solid #888;
    background-color: #efefef;
}


/* COMMENTS
----------------------------------------------------------*/
#comments 
{
    width: 100%;
    padding: 0px;
    margin-bottom: 12px;
    list-style: none;
}
#comments .comment_box 
{
    margin: 0px;
    margin-top: 20px;
    position: relative;
    border-bottom: 1px dotted #ccc;
}
#comments .comment_box .avatar 
{
    position: absolute;
    top: 4px;
    left: 0px;
}
#comments .comment_box .body 
{
    margin-left: 50px;
}
#comments .comment_box .body .name 
{
    font-style: italic;
    font-size: 1.2em;
    color: #333;
}
#comments .comment_box .body .date 
{
    color: #888;
    font-size: .9em;
}
#comments .comment_box .body .message 
{
    font-size: 1em;
    color: #333;
}
#comments .comment_box .body .comment_reply_box 
{
    margin: 10px 0px;
}


#comment_container 
{
    border: 1px solid #ccc;
    padding: 15px;
}
#comment_container input[type="text"]
{
    width: 100%;
}
#comment_container h3 
{
    padding: 6px 0px;
    margin: 0px;
    line-height: 1.2em;
}
#comment_container .comment_field 
{
    margin-bottom: 10px;
}
#comment_container .comment_field .label
{
    width: 80px;
    display: inline-block;
    font-size: 1.1em;
    color: #000;
    margin-top: 8px;
}
#comment_container .comment_field .input
{
    width: 400px;
    display: inline-block;
    line-height: 1.5em;
}
#comment_container .comment_field .input textarea
{
    width: 100%;
    height: 200px;
}

/* TABLE
----------------------------------------------------------*/
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}


/* SLIDESHOW
----------------------------------------------------------*/
#slideshow 
{
    margin-top: 25px;
    position: relative;
    height: 250px;
    width: 700px;
}
#slideshow #text_slider
{
    float: left;
    width: 355px;
    height: 250px;
    overflow: hidden;
    margin-right: 35px;
}
#slideshow #text_slider .slide h2
{
    color: #fff;
    text-transform: uppercase;
}
#slideshow #text_slider .slide h3
{
    color: #459494;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0px;
}
#slideshow #text_slider .slide p
{
    margin: 12px 0px 25px 0px;
    color: #aaa;
    font-size: 12px;
}
#slideshow #text_slider .slide .slide_button
{
    padding: 8px 25px;
    border: 1px solid #454545;
    background-color: #292929;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #459494;
}
#slideshow #text_slider .slide .slide_button:hover { background-color: #2f2f2f }
#slideshow #images_slider
{
    float: left;
    width: 300px;
    height: 250px;
    overflow: hidden;
}
#slideshow #text_slider .slide 
{
    width: 355px;
    height: 250px;
}
#slideshow #images_slider .slide 
{
    width: 300px;
    height: 250px;
}
#slideshow .slideshow_left_button 
{
    background: url(img/slideshow_left.png) no-repeat;
    position: absolute;
    width: 15px;
    height: 30px;
    top: 115px;
    left: 375px;
    z-index: 100;
    cursor: pointer;
}
#slideshow .slideshow_left_button:hover { background: url(img/slideshow_left_hover.png) no-repeat; }
#slideshow .slideshow_right_button 
{
    background: url(img/slideshow_right.png) no-repeat;
    position: absolute;
    width: 15px;
    height: 30px;
    top: 115px;
    left: 690px;
    z-index: 100;
    cursor: pointer;
}
#slideshow .slideshow_right_button:hover { background: url(img/slideshow_right_hover.png) no-repeat; }

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}
.download_link 
{
    background: url(img/download_icon.png) no-repeat;
    width: 160px;
    height: 45px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    display: inline-block;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}
.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}
.text-box {
    width: 30em;
}
.text-box.multi-line {
    height: 6.5em;
}
.tri-state {
    width: 6em;
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ======================================================
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}