﻿@model BlocksViewModel
@using SourPickleCMS.Core.Models.ViewModels
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "Blocks";
    ViewBag.Page = "blocks";
}
@section header {
    Blocks
}

<table class="post_content" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="post_content_right">
            @foreach (String s in Model.Regions)
            {
                <div id="region_@s" class="bloc post_content_block" style="width: 265px" region="@s">
                    <div class="title">
                        @s Region
                        <a href="#" class="toggle"></a>
                    </div>
                    <div class="content blocks_sortable" style="min-height: 65px">
                        @foreach (Block b in Model.ThemeBlocks.Where(b => b.Region == s).OrderBy(o => o.Order))
                        {
                        <div class="block_container">
                            <a href="javascript://" class="delete_link" onclick="delete_field_item(this)" alt="Delete block" title="Delete block" style="display: block">x</a>
                            <h5>@b.Fields["Title"]</h5>
                            <div class="info">
                                @b.Description
                                <div class="hidden_fields" style="display: none">
                                    <input type="hidden" class="order" name="Order" value="@b.Order" />
                                    <input type="hidden" class="id" name="Id" value="@b.Id" />
                                    <input type="hidden" class="title" name="Title" value="@b.Fields["Title"]" />
                                    <input type="hidden" class="dir" name="Directory" value="@b.Directory" />
                                    <input type="hidden" class="name" name="Name" value="@b.Name" />
                                    <input type="hidden" class="region" name="Region" value="@b.Region" />
                                    <input type="hidden" class="theme" name="Theme" value="@b.Theme" />
                                    <input type="hidden" class="desc" name="Description" value="@b.Description" />
                                </div>
                            </div>
                        </div>
                        }
                    </div> <!-- .content -->
                </div> <!-- .bloc -->
            }
        </td> <!-- .post_content_left -->

        <td class="post_content_left" style="padding-left: 20px;">
            <div class="bloc post_content_block" style="width: 100%">
                <div class="title">
                    Sour Pickle Blocks
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content" style="min-height: 65px">
                    @foreach (Block b in Model.AdminBlocks)
                    {
                        <div class="block_container blocks_draggable">
                            <a href="javascript://" class="delete_link" onclick="delete_field_item(this)" alt="Delete block" title="Delete block">x</a>
                            <h5>@b.Title</h5>
                            <div class="info">
                                @b.Description
                                <div class="hidden_fields" style="display: none">
                                    <input type="hidden" class="order" name="Order" />
                                    <input type="hidden" class="id" name="Id" />
                                    <input type="hidden" class="title" name="Title" value="@b.Title" />
                                    <input type="hidden" class="dir" name="Directory" value="@b.Directory" />
                                    <input type="hidden" class="name" name="Name" value="@b.Name" />
                                    <input type="hidden" class="region" name="Region" value="@b.Region" />
                                    <input type="hidden" class="theme" name="Theme" value="@b.Theme" />
                                    <input type="hidden" class="desc" name="Description" value="@b.Description" />
                                </div>
                            </div>
                        </div>
                    }
                </div> <!-- .content -->
            </div> <!-- .bloc -->

            <div  class="bloc post_content_block" style="width: 100%">
                <div class="title">
                    Third-Party Blocks
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content" style="min-height: 65px">
                    @foreach (Block b in Model.UserBlocks)
                    {
                        <div class="block_container blocks_draggable">
                            <a href="javascript://" class="delete_link" onclick="delete_field_item(this)" alt="Delete block" title="Delete block">x</a>
                            <h5>@b.Title</h5>
                            <div class="info">
                                @b.Description
                                <div class="hidden_fields" style="display: none">
                                    <input type="hidden" class="order" name="Order" />
                                    <input type="hidden" class="id" name="Id" />
                                    <input type="hidden" class="title" name="Title" value="@b.Title" />
                                    <input type="hidden" class="dir" name="Directory" value="@b.Directory" />
                                    <input type="hidden" class="name" name="Name" value="@b.Name" />
                                    <input type="hidden" class="region" name="Region" value="@b.Region" />
                                    <input type="hidden" class="theme" name="Theme" value="@b.Theme" />
                                    <input type="hidden" class="desc" name="Description" value="@b.Description" />
                                </div>
                            </div>
                        </div>
                    }
                </div> <!-- .content -->
            </div> <!-- .bloc -->
        </td> <!-- .post_content_right -->
    </tr>
</table>
<div id="block_settings_modal">
    <div id="block_dialog_content">
        @using (Html.BeginForm("SaveBlock", "Main"))
        {
            <h2></h2>
            <div id="block_form_content">
            </div>
            <button type="submit" class="btn">Save</button> @:&nbsp; <a href="javascript://" onclick="cancel_new_block();">cancel</a>
            <div class="hidden_fields" style="display: none">
            </div>
        }
    </div>
    <div id="block_loading_overlay">
        <div id="block_loading_notif"><img src="/Areas/Admin/Content/Css/img/loader.gif" /></div>
    </div>
</div>