﻿@model IList<ContentType>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "All Content Types";
    ViewBag.Page = "content_types";
}
@section header {
    All Content Types
}

@{
    string type = "Add New Content Type";
    @Html.ActionLink(type, "NewContentType", null, new { @class = "btn" });
}

<hr />
<table class="data display datatable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Plural Name</th>
            <th>Slug</th>
            <th>Template</th>
            <th>Commentable</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (ContentType item in Model)
            {
			    <tr class="post_entry" id="post_entry_@item.Id">
				    <td>
                        @Html.ActionLink(item.Name, "EditContentType", new { slug = item.Slug }, new { @class = "post_title" })
                        <div class="post_entry_actions">
                            <a href="@Url.Action("EditContentType", new { slug = item.Slug })" class="post_action">Edit</a> |
                            <a href="javascript://" class="post_action" onclick="confirm_delete_ContentType('@item.Slug')">Delete</a>
                        </div>
                    </td>
				    <td>@item.PluralName</td>
				    <td>@item.Slug</td>
				    <td>@item.DefaultTemplate</td>
                    <td>@item.Commentable</td>
			    </tr>
            }
        }
        else
        {
			<tr class="post_entry">
                <td></td>
				<td>No custom Content Types have been created<br />&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
        }
    </tbody>
</table>