﻿@model IDictionary<string, string>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "Display Settings";
    ViewBag.Page = "display_settings";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/computer-on.png" alt="" /> Display Settings
}

@using (Html.BeginForm())
{
    <div id="settings_container">
        <h2>Scripts and Styles:</h2>
        <div class="setting">
            <div class="settings_label">Include jQuery</div>
            <div class="settings_field">@Html.CheckBox("IncludeJQuery", Convert.ToBoolean(Model["IncludeJQuery"])) Add latest jQuery to all pages</div>
        </div>

        <div class="setting">
            <div class="settings_label">Custom Scripts</div>
            <div class="settings_field">
                @Html.TextBox("CustomScripts", Model["CustomScripts"], new { size = "50", placeholder = "Custom scripts to add to all views" })<br />
                <i>(Javascript filenames separated by a comma)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Styles Framework</div>
            <div class="settings_field">@Html.StyleFrameworksDropDownList("StyleFramework", Model["StyleFramework"])</div>
        </div>

        <div class="setting">
            <div class="settings_label">Custom Stylesheets</div>
            <div class="settings_field">
                @Html.TextBox("CustomStyles", Model["CustomStyles"], new { size = "50", placeholder = "Custom stylesheets to add to all views" })<br />
                <i>(CSS stylesheet filenames separated by a comma)</i>
            </div>
        </div>

        <h2>Image Sizes:</h2>

        <div class="setting">
            <div class="settings_label">Maximum upload filesize</div>
            <div class="settings_field">
                @Html.TextBox("MaxFileUploadSize", Model["MaxFileUploadSize"], new { size = "20" })<br />
                <i>(Filesize in MBs)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Image Thumbnail size</div>
            <div class="settings_field">
                @Html.TextBox("ImageThumbnailWidth", Model["ImageThumbnailWidth"], new { size = "6" }) <span style="vertical-align: bottom">x</span> @Html.TextBox("ImageThumbnailHeight", Model["ImageThumbnailHeight"], new { size = "6" })<br />
                <i>(Thumbnail width and height in pixels)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Maximum medium size</div>
            <div class="settings_field">
                @Html.TextBox("ImageMediumMaxSize", Model["ImageMediumMaxSize"], new { size = "20" })<br />
                <i>(Maximum image size in pixels)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Maximum large size</div>
            <div class="settings_field">
                @Html.TextBox("ImageLargeMaxSize", Model["ImageLargeMaxSize"], new { size = "20" })<br />
                <i>(Maximum image size in pixels)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.AntiForgeryToken()
                <input type="submit" class="btn" value="Save Changes" /> <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
            </div>
        </div>
    </div>
}