﻿@model ContentType
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = (String.IsNullOrWhiteSpace(Model.Id)) ? "Add a new" : "Edit";
    ViewBag.Title += " Content Type";
    ViewBag.Page = "content_types";
}
@section header {
    @if (!String.IsNullOrWhiteSpace(Model.Id)) {
        <span>Edit</span>
    }
    else
    {
        <span>Add a new</span>
    } Content Type
}

@using (Html.BeginForm("EditContentType", "Main"))
{
    <div id="settings_container">
        <div class="setting">
            <div class="settings_label">Name:</div>
            <div class="settings_field">@Html.TextBoxFor(m => m.Name)</div>
        </div>

        <div class="setting">
            <div class="settings_label">Plural Name:</div>
            <div class="settings_field">@Html.TextBoxFor(m => m.PluralName)</div>
        </div>

        <div class="setting">
            <div class="settings_label">Slug:</div>
            <div class="settings_field">@Html.TextBoxFor(m => m.Slug)</div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">@Html.CheckBoxFor(m => m.Commentable) Users can comment on this type</div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">@Html.CheckBoxFor(m => m.UsesEditor) Use Visual Editor for main content</div>
        </div>

        <div class="setting">
            <div class="settings_label">Default Template:</div>
            <div class="settings_field">@Html.TemplateDropDownListFor(m => m.DefaultTemplate)</div>
        </div>
    </div>
    
    <table class="post_content" cellpadding="0" cellspacing="0" border="0" style="width: 100%">
        <tr>
            <td class="post_content_left" style="width: 550px">
                @if (!String.IsNullOrWhiteSpace(Model.Id))
                {                     <input type="submit" class="btn" value="Save Changes" /> @:&nbsp;                    <button type="button" class="btn" onclick="confirm_delete_ContentType();">Delete this Content Type</button>
                }
                else
                {
                    <input type="submit" class="btn" value="Save new Content Type" />
                } @Html.ActionLink("Cancel", "ContentTypes")                <h3 style="font-weight: bold; margin: 14px 0px; font-size: 14px; line-height: 20px; border-bottom: 1px dashed #CCC">Fields</h3>                <ul id="sortable" class="field_container">
                    @if (Model.Fields != null && Model.Fields.Count() > 0)
                    {
                        int counter = 0;
                        foreach (Field item in Model.Fields.OrderBy(p => p.Order))
                        {
                            <li class="field_item" order="@item.Order">
                                <a href="javascript://" class="delete_link" onclick="delete_field_item(this)" alt="Delete field" title="Delete field">x</a>
                                <div class="field_label">Name:</div><div class="field_inputs">@Html.TextBoxFor(m => m.Fields[counter].Name, new { @class = "name" })</div>
                                <div class="field_label">Type:</div><div class="field_inputs">@Html.FieldTypesDropDownList("Fields[" + counter + "].Type", item.Value, new { @class = "order" })</div><br />
                                <div class="field_label">Group Name:</div><div class="field_inputs">@Html.TextBoxFor(m => m.Fields[counter].GroupName, new { @class = "group_name" })</div>
                                @Html.HiddenFor(m => m.Fields[counter].Order, new { @class = "order" })
                            </li>
                            counter++;
                        }
                    }                </ul>                <hr />                @Html.HiddenFor(m => m.Id)
                @Html.AntiForgeryToken()
                @if (!String.IsNullOrWhiteSpace(Model.Id))
                {                 <input type="submit" class="btn" value="Save Changes" />
                }
                else
                {
                <input type="submit" class="btn" value="Save new Content Type" />
                } <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
            </td> <!-- .post_content_left -->

            <td class="post_content_right" style="width: 300px">
                <div class="bloc" id="new_field_form" style="width: 300px">
                    <div class="title">
                        Add New Field
                        <a href="#" class="toggle"></a>
                    </div>
                    <div class="content">
		                <div class="field input">
			                <label>Name:</label>
			                <div class="fields">
                                @Html.TextBox("FieldName", "", new { id = "FieldName" })
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />

		                <div class="field input">
			                <label>Type:</label>
			                <div class="fields">
                                @Html.FieldTypesDropDownList("FieldType")
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />

		                <div class="field input">
			                <label>Group Name:</label>
			                <div class="fields">
                                @Html.TextBox("FieldName", "", new { id = "GroupName" })
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />
                        
		                <div class="actions">
			                <input type="button" class="btn" onclick="new_field_item()" value="Add Field" />
		                </div> <!-- .actions -->
                    </div> <!-- .content -->
                </div> <!-- .bloc -->
            </td> <!-- .post_content_right -->
        </tr>
    </table>
}
<li id="blank_field_item" order="" style="display: none">
    <a href="javascript://" class="delete_link" alt="Delete field" title="Delete field">x</a>
    <div class="field_label">Name:</div><div class="field_inputs">@Html.TextBox("Fields[X]_Name", "", new { @class = "name" })</div>
    <div class="field_label">Type:</div><div class="field_inputs">@Html.FieldTypesDropDownList("Fields[X]_Type", "", new { @class = "type" })</div><br />
    <div class="field_label">Group Name:</div><div class="field_inputs">@Html.TextBox("Fields[X]_GroupName", "", new { @class = "group_name" })</div>
    @Html.Hidden("Fields[X]_Order", "", new { @class = "order" })
</li>