﻿@{
    ViewBag.Title = "Code Editor";
    ViewBag.Page = "editor";
}
@section header {
    Code Editor
}
@section head {
    <link rel="stylesheet" href="/Areas/Admin/Content/Css/jqueryFileTree.css" />
}
@section scripts {
    <script src="/Areas/Admin/Scripts/filetree/jqueryFileTree.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Areas/Admin/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>

    <script src="/Areas/Admin/Scripts/ace/theme-textmate.js" type="text/javascript" charset="utf-8"></script>

    <script src="/Areas/Admin/Scripts/ace/mode-css.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Areas/Admin/Scripts/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Areas/Admin/Scripts/ace/mode-json.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Areas/Admin/Scripts/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Areas/Admin/Scripts/ace/mode-csharp.js" type="text/javascript" charset="utf-8"></script>
    <script src="/Areas/Admin/Scripts/ace/mode-xml.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var editor;
        var JavaScriptMode;
        var HtmlMode;
        var JsonMode;
        var CssMode;
        var CSharpMode;
        var XMLMode;
        var TextMode;

        $(document).ready(function () {
            $("#code_editor").css({ width: ($(window).width() - 465), height: ($(window).height() - 120) });
            $("#fileeditor").css({ height: ($(window).height() - 120) });
            $('body').css("overflow", "hidden");

            editor = ace.edit("code_editor");
            editor.setTheme("ace/theme/textmate");

            JavaScriptMode = require("ace/mode/javascript").Mode;
            HtmlMode = require("ace/mode/html").Mode;
            JsonMode = require("ace/mode/json").Mode;
            CssMode = require("ace/mode/css").Mode;
            CSharpMode = require("ace/mode/html").Mode;
            XMLMode = require("ace/mode/xml").Mode;
            TextMode = require("ace/mode/text").Mode;
            editor.getSession().setMode(new CSharpMode());

            $('#fileeditor').fileTree({
                script: '/Areas/Admin/jQueryFileTree.aspx',
                expandSpeed: 350,
                collapseSpeed: 200
            }, open_file);
        });

        function open_file(file) {
            $.ajax({
                url: "/Admin/Ajax/GetFileContents",
                data: { fname: file },
                dataType: "text",
                type: "GET",
                success: function (data) {
                    var ext = file.split('.').pop();
                    switch(ext.toLowerCase()) {
                        case "xml":
                        case "config":
                            editor.getSession().setMode(new XMLMode());
                            break;
                        case "js":
                            editor.getSession().setMode(new JavaScriptMode());
                            break;
                        case "css":
                            editor.getSession().setMode(new CssMode());
                            break;
                        case "cs":
                            editor.getSession().setMode(new CSharpMode());
                            break;
                        case "cshtml":
                        case "html":
                        case "aspx":
                        case "asax":
                        case "asp":
                            editor.getSession().setMode(new HtmlMode());
                            break;
                        default:
                            editor.getSession().setMode(new TextMode());
                            break;
                    }
                    editor.getSession().setValue(data);
                },
                error: function () { },
            });
        }
    </script>
}

<div id="fileeditor"></div>
<div id="code_editor">some text</div>