﻿@model IDictionary<string, string>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "Email Settings";
    ViewBag.Page = "email_settings";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/mail-edit.png" alt="" /> Email Settings
}

@using (Html.BeginForm())
{
    <div id="settings_container">
        <div class="setting">
            <div class="settings_label">Host</div>
            <div class="settings_field">
                @Html.TextBox("EmailHost", Model["EmailHost"], new { size = "50", placeholder = "Email host address" })<br />
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Port</div>
            <div class="settings_field">
                @Html.TextBox("EmailPort", Model["EmailPort"], new { size = "50", placeholder = "Port number" })<br />
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">&nbsp;</div>
            <div class="settings_field">@Html.CheckBox("EmailAuthentication", Convert.ToBoolean(Model["EmailAuthentication"])) Use SMTP Authentication</div>
        </div>

        <div class="setting">
            <div class="settings_label">Username</div>
            <div class="settings_field">
                @Html.TextBox("EmailUsername", Model["EmailUsername"], new { size = "50", placeholder = "Your SMTP Username" })<br />
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Password</div>
            <div class="settings_field">
                @Html.Password("EmailPassword", Model["EmailPassword"], new { size = "50", placeholder = "Your SMTP Password" })<br />
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">&nbsp;</div>
            <div class="settings_field">@Html.CheckBox("EmailUseSSL", Convert.ToBoolean(Model["EmailUseSSL"])) Use SSL</div>
        </div>

        <div class="setting">
            <div class="settings_label">From Name</div>
            <div class="settings_field">
                @Html.TextBox("EmailFrom", Model["EmailFrom"], new { size = "50", placeholder = "Enter a name" })<br />
                <i>(This will show as the person or site who sent the email)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">From Address</div>
            <div class="settings_field">
                @Html.TextBox("EmailFromAddress", Model["EmailFromAddress"], new { size = "50", placeholder = "Enter an email address" })<br />
            </div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.AntiForgeryToken()
                <input type="submit" class="btn" value="Save Changes" /> <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
            </div>
        </div>

        <hr />
    
        <div class="setting">
            <div class="settings_label">&nbsp;</div>
            <div class="settings_field">
                <input class="test_to_email" type="text" placeholder="Send test email to:" size="50" /> <input class="send_test_email btn" type="button" value="Send Test Email" onclick="send_test_email()" /><br />
                <span class="test_email_status"></span>
            </div>
        </div>
    </div>
}