﻿@model IDictionary<string, string>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "General Settings";
    ViewBag.Page = "gen_settings";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/cog.png" alt="" /> General Settings
}

@using (Html.BeginForm())
{
    <div id="settings_container">

        <div class="setting">
            <div class="settings_label">Site Title</div>
            <div class="settings_field">@Html.TextBox("SiteTitle", Model["SiteTitle"], new { size = "50", placeholder = "The name of your site" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Site Tagline</div>
            <div class="settings_field">@Html.TextBox("TagLine", Model["TagLine"], new { size = "50", placeholder = "Briefly describe your site" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Site URL</div>
            <div class="settings_field">@Html.TextBox("SiteURL", Model["SiteURL"], new { size = "50", placeholder = "Address to this site (http://www.example.com)" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Meta Description</div>
            <div class="settings_field">@Html.TextBox("MetaDescription", Model["MetaDescription"], new { size = "75", placeholder = "Describe your site in a couple of sentences" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Meta Keywords</div>
            <div class="settings_field">
                @Html.TextBox("MetaKeywords", Model["MetaKeywords"], new { size = "75", placeholder = "Keywords for your site for SEO purposes" })<br />
                <i>(Separated by commas)</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Admin Email</div>
            <div class="settings_field">@Html.TextBox("AdminEmail", Model["AdminEmail"], new { size = "50", placeholder = "Email to use for notifications" })</div>
        </div>

        <div class="setting">
            <div class="settings_label">Logging</div>
            <div class="settings_field">@Html.CheckBox("LoggingEnabled", Convert.ToBoolean(Model["LoggingEnabled"])) Admin logging enabled</div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.CheckBox("AjaxInComments", Convert.ToBoolean(Model["AjaxInComments"])) Use Ajax in Comments<br />
                <i>Allows the posting of comments on posts without having to refresh the page.<br />
                Requires jQuery.</i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label">Site Mode</div>
            <div class="settings_field">
                @Html.SiteModeDropDownList("SiteMode", Model["SiteMode"])<br />
                <i>
                    Live - Site is live in full production mode<br />
                    Testing - Site is in testing phase, and error displaying and logging is enabled<br />
                    Under Construction - Under construction splash page is shown to all but admins<br />
                    Down for Maintenance - Down for Maintenance page is shown to all but admins
                </i>
            </div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.AntiForgeryToken()
                <input type="submit" class="btn" value="Save Changes" /> <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
            </div>
        </div>
    </div>
}