﻿@model AdminDashboardViewModel
@using SourPickleCMS.Core.Models.ViewModels

@{
    ViewBag.Title = "Dashboard";
    ViewBag.Page = "dashboard";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/dashboard.png" alt="" /> Dashboard
}

<table class="post_content" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="width: 50%; padding: 5px;">
            <div class="bloc">
                <div class="title">
                    At a Glance
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content" style="font-size: 1.25em">
                    <h2 style="display: inline-block">@Model.PageCount</h2> Page(s)<br />
                    <h2 style="display: inline-block">@Model.PostCount</h2> Post(s)<br />
                    <h2 style="display: inline-block">@Model.CommentCount</h2> Comments(s)<br />
                    <h2 style="display: inline-block">@Model.UserCount</h2> User(s)<br /><br />
                    You are using Sour Pickle CMS version @Model.SiteVersion
                </div> <!-- .content -->
            </div> <!-- .bloc -->

            <div class="bloc">
                <div class="title">
                    Recent Comments
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    @*@Html.Raw(GeneralHelper.RenderRecentComments(5))*@
                </div> <!-- .content -->
            </div> <!-- .bloc -->
        </td>

        <td style="width: 50%; padding: 5px;">
            <div class="bloc">
                <div class="title">
                    Quick Links
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    <div class="center">
                        <a href="/Admin/Posts/New/page" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/document-1-add.png" alt="Add New Page" />
                            Add New Page
                        </a>
                        <a href="/Admin/Posts/New/blog" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/posts.png" alt="New Blog Post" />
                            New Blog Post
                        </a>
                        <a href="/Admin/Posts/NewMedia" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/pictures.png" alt="Add New Media" />
                            Add New Media
                        </a>
                        <a href="/Admin/Users/New" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/user.png" alt="Add New User" />
                            Add New User
                        </a>
                        <a href="/Admin/Posts/Index/blog" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/drawer-open.png" alt="Manage Blog Posts" />
                            Manage Blog
                        </a>
                        <a href="/Admin/Posts/Comments" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/im.png" alt="Manage Comments" />
                            Comments
                        </a>
                        <a href="/Admin/Home/Menus" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/desktop.png" alt="Manage Menus" />
                            Manage Menus
                        </a>
                        <a href="/Admin/Home/Themes" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/window.png" alt="Manage Themes" />
                            Manage Themes
                        </a>
                        <a href="/Admin/Home/GeneralSettings" class="shortcut">
                            <img src="/Areas/Admin/Content/Images/icons/cog.png" alt="Site Settings" />
                            Site Settings
                        </a>
                    </div>                    
                </div> <!-- .content -->
            </div> <!-- .bloc -->

            <div class="bloc">
                <div class="title">
                    Blog Feeds
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    
                </div> <!-- .content -->
            </div> <!-- .bloc -->
        </td> <!-- .post_content_right -->
    </tr>
</table>