﻿@model MenuListViewModel
@using SourPickleCMS.Core.Models
@using SourPickleCMS.Core.Models.ViewModels

@{
    ViewBag.Title = "Menus";
    ViewBag.Page = "menus";
}
@section header {
    Menus
}

<table class="post_content" cellpadding="0" cellspacing="0" border="0" style="width: 730px">
    <tr>
        <td class="post_content_left" style="width: 470px">
            Menus:<br />
            @Html.CategoriesDropDownList("menu_list", Model.CurrentMenu.ContentType) <button type="submit" class="btn" onclick="edit_menu();">Edit</button>
            <hr />            <h2 style="margin: 0px 0px 8px 0px; line-height: 16px; padding: 0px;">@Model.CurrentMenu.Name</h2>            <ul id="sortable" class="menu_container">
                @if (Model.MenuItems.Count() > 0)
                {
                    foreach (Post item in Model.MenuItems.Where(m => m.Category.Slug == Model.CurrentMenu.Slug).OrderBy(p => p.Order))
                    {
                        <li class="menu_item" postid="@item.Id" link="@item.Values["Link"]" order="@item.Order" menupostid="@item.Values["MenuPostID"]"><div class="menu_name">@item.Title</div><div class="menu_links"><a class="menu_edit" href="javascript://">edit</a> | @Html.ActionLink("delete", "DeleteMenuItem", new { id = @item.Id, catid = item.Category.Id }, new { @class = "menu_item_delete" })</div></li>
                    }
                }            </ul>            <hr />            @Html.Hidden("Category.Slug", Model.CurrentMenu.Slug, new { id = "Category_Slug" })            <button type="submit" class="btn" onclick="save_menu_changes();">Save Changes</button> <span id="menu_update_msg"></span><br /><br />            <button type="submit" class="btn" onclick="confirm_delete_menu();">Delete Menu</button>        </td> <!-- .post_content_left -->

        <td class="post_content_right" style="width: 350px">
            <div id="edit_menu_bloc" class="bloc" style="width: 350px; display: none;">
                <div class="title">
                    Edit Menu Item
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
		            <div class="field input">
			            <label>Title:</label>
			            <div class="fields">
                            @Html.TextBox("Title", "", new { id = "Title" })
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />

		            <div class="field input">
			            <label>Post ID:</label>
			            <div class="fields">
                            @Html.TextBox("MenuPostID", "", new { id = "MenuPostID" })
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />

		            <div class="field input">
			            <label>Link:</label>
			            <div class="fields">
                            @Html.TextBox("Link", "", new { id = "Link" })
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />
                        
                    @Html.Hidden("PostId", "", new { id = "PostId" })
                    <div class="actions">
			            <button type="submit" class="btn" onclick="edit_menu_item()">Update</button> <a href="javascript://" onclick="$('#edit_menu_bloc').slideUp('slow');">cancel</a><br /><br />
                        <span id="edit_menu_item_msg"></span>
		            </div> <!-- .actions -->
                </div> <!-- .content -->
            </div> <!-- .bloc -->

            <div class="bloc" id="new_menu_form" style="width: 350px">
                <div class="title">
                    Add New Menu Item
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
		            <div class="field input">
			            <label>Title:</label>
			            <div class="fields">
                            @Html.TextBox("Title", "", new { id = "Title" })
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />

		            <div class="field input">
			            <label>Post ID:</label>
			            <div class="fields">
                            @Html.TextBox("MenuPostID", "", new { id = "MenuPostID" })
        			    </div> <!-- .fields -->
		            </div> <!-- .field -->

                    <p>- or -</p>

		            <div class="field input">
			            <label>Link:</label>
			            <div class="fields">
                            @Html.TextBox("Link", "", new { id = "Link" })
        			    </div> <!-- .fields -->
		            </div> <!-- .field --><br />
                        
		            <div class="actions">
			            <button type="submit" class="btn" onclick="new_menu_item()">Add Menu Item</button> <span id="add_menu_item_msg"></span>
		            </div> <!-- .actions -->
                </div> <!-- .content -->
            </div> <!-- .bloc -->

            <div class="bloc" style="width: 350px">
                <div class="title">
                    Create New Menu
                    <a href="#" class="toggle"></a>
                </div>
                <div class="content">
                    @using (Html.BeginForm("NewMenu", "Main"))
                    {
		                <div class="field input">
			                <label>Name:</label>
			                <div class="fields">
                                @Html.TextBox("Name", "", new { id = "Name" })
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />

		                <div class="field input">
			                <label>Slug:</label>
			                <div class="fields">
                                @Html.TextBox("Slug", "", new { id = "Slug" })
        			        </div> <!-- .fields -->
		                </div> <!-- .field --><br />
                        
                        @Html.AntiForgeryToken()
		                <div class="actions">
			                <button type="submit" class="btn">Create Menu</button>
		                </div> <!-- .actions -->
                    }
                </div> <!-- .content -->
            </div> <!-- .bloc -->

        </td> <!-- .post_content_right -->
    </tr>
</table>
