﻿@model IList<Setting>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "Theme Settings";
    ViewBag.Page = "theme_settings";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/window.png" alt="" /> Theme Settings
}

@if (Model.Count() > 0)
{
    using (Html.BeginForm())
    {
        <div id="settings_container">
            @foreach (Setting s in Model)
            {
                <div class="setting">
                    <div class="settings_label">@s.Label</div>
                    <div class="settings_field">@Html.TextBox(s.Name, s.Value)</div>
                </div>
            }

            <div class="setting">
                <div class="settings_label"></div>
                <div class="settings_field">
                    @Html.AntiForgeryToken()
                    <input type="submit" class="btn" value="Save Changes" /> <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <h2>No theme settings have been specified.</h2>
    <p>
        Create a Settings.txt file in your theme folder to specify theme settings.
    </p>
}