﻿@model IList<ThemeViewModel>
@using SourPickleCMS.Core.Models.ViewModels

@{
    ViewBag.Title = "Themes";
    ViewBag.Page = "themes";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/window.png" alt="" /> Themes
}
@{
    ThemeViewModel current = null;
    try
    {
        current = Model.Single(t => t.IsCurrent == true);
    }
    catch { }
}
<h2>Current Theme</h2>

@if (current != null)
{
    <div style="display: inline-block; width: 210px; vertical-align: top">
        <img src="@Html.ThemePath()/Screenshot.png" style="width: 200px" class="shadow" />
    </div>
    <div style="display: inline-block; width: 500px; vertical-align: top; line-height: 20px">
        <h2>@current.Info["Name"], created by <a href="@current.Info["Website"]">@current.Info["Author"]</a></h2>
        Version @current.Info["Version"]<br /><br />
        @current.Info["Description"]<br /><br />
        Tags: @current.Info["Tags"]
    </div>
}
else
{
    <h1>There is no current theme set.</h1>
}

<div class="clear">&nbsp;</div>
<hr />

<h2>Installed Themes</h2>
@if (Model.Where(t => t.IsCurrent == false).Count() > 0)
{
    foreach (ThemeViewModel t in Model.Where(t => t.IsCurrent == false))
    {
        <div style="display: inline-block; width: 130px; vertical-align: top">
            <img src="/Themes/@t.Folder/Screenshot.png" style="width: 120px" class="shadow" />
        </div>
        <div style="display: inline-block; width: 500px; vertical-align: top; line-height: 20px">
            <h2>@t.Info["Name"], created by <a href="@t.Info["Website"]">@t.Info["Author"]</a></h2>
            Version @t.Info["Version"]<br /><br />
            @t.Info["Description"]<br /><br />
            Tags: @t.Info["Tags"]<br /><br />
            <a href="/Admin/Home/SetTheme?name=@t.Folder" alt="Make this the current theme"><input type="button" class="btn" value="Set as Current Theme" /></a>
        </div>
        <hr />
    }
}
else
{
    <span>No other themes are installed</span>
}