﻿@model IDictionary<string, string>
@using SourPickleCMS.Core.Models

@{
    ViewBag.Title = "User Settings";
    ViewBag.Page = "user_settings";
}
@section header {
    <img src="/Areas/Admin/Content/Images/icons/users.png" alt="" /> User Settings
}

@using (Html.BeginForm())
{
    <div id="settings_container">

        <div class="setting">
            <div class="settings_label">New Users</div>
            <div class="settings_field">@Html.CheckBox("RegistrationOpen", Convert.ToBoolean(Model["RegistrationOpen"])) Registration open</div>
        </div>

        <div class="setting">
            <div class="settings_label">Terms of Use</div>
            <div class="settings_field">@Html.CheckBox("RequireAgreeToTerms", Convert.ToBoolean(Model["RequireAgreeToTerms"])) Require new users to agree to terms</div>
        </div>

        <div class="setting">
            <div class="settings_label">Remember Me</div>
            <div class="settings_field">@Html.CheckBox("AllowRememberLogin", Convert.ToBoolean(Model["AllowRememberLogin"])) 'Remember Me' option enabled</div>
        </div>

        <div class="setting">
            <div class="settings_label">Default New User Role</div>
            <div class="settings_field">@Html.RolesDropDownList("DefaultUserRoleID", Model["DefaultUserRoleID"])</div>
        </div>

        <div class="setting">
            <div class="settings_label"></div>
            <div class="settings_field">
                @Html.AntiForgeryToken()
                <input type="submit" class="btn" value="Save Changes" /> <a href="@Request.UrlReferrer.AbsolutePath">Cancel</a>
            </div>
        </div>
    </div>
}