﻿@model IEnumerable<Post>
@using SourPickleCMS.Core.Models

@Html.Partial("_Header")

        <div id="body">
            <div class="container_12">
                <div id="sidebar" class="grid_4">
                    @Html.Region("Features Sidebar")
                </div>

                <div id="main" class="grid_8">
                    @Html.Partial("_Single-Page", Model.First())
                </div>
            </div>
        </div>

@Html.Partial("_Footer")