﻿@*
    Home Page Template
    The template for displaying the front page post only
*@

@model IList<Post>
@using SourPickleCMS.Core.Models

@{
    Html.AddScript("Scripts/jquery.cycle.js");
}
@Html.Partial("_Header")

        <div id="pre_body">
            <div class="content container_12">
                <div class="grid_3 pickle">
                    <img src="@Html.ThemePath()/Content/Images/pickle_happy.png" alt="Mr. Pickle"
                        onmouseover="$(this).attr('src', '@Html.ThemePath()/Content/Images/pickle_sour.png');"
                        onmouseout="$(this).attr('src', '@Html.ThemePath()/Content/Images/pickle_happy.png');" />
                </div>
                <div class="grid_9 slideshow">
                    <div id="slideshow">
                    @{
                        IList<Post> slides = Html.GetPosts("slide", 4);
                        <div id="text_slider">
                        @foreach (Post slide in slides)
                        {
                            <div class="slide">
                                <h2>@slide.Title</h2>
                                <h3>@slide.Values["Desc"]</h3>
                                @Html.Raw(slide.Body)
                                <a class="slide_button" href="/features">read more</a>
                            </div>
                        }
                        </div>
                        <div id="images_slider">
                        @foreach (Post slide in slides)
                        {
                            <div class="slide">@Html.GetImage(slide.AttachedImageId, null, "full")</div>
                        }
                        </div>
                    }
                    <div class="slideshow_left_button"></div>
                    <div class="slideshow_right_button"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="body">
            <div class="container_12">
                <div id="main" class="grid_8">
                    <h2>@Model.First().Title</h2>
                    @Html.Raw(Model.First().Body)
                </div>

                <div id="sidebar" class="grid_4">
                    @Html.Region("Sidebar")
                </div>
            </div>
        </div>

@Html.Partial("_Footer")