﻿@model Block
@using SourPickleCMS.Core.Models

@{
    IList<Category> cats = Html.GetCategories(Model.Fields["ContentType"]);
}

<aside id="block-@Model.Id" class="most-recent-posts-block content-block">
    <h3 class="block-title">@Model.Fields["Title"]</h3>
    <ul>
        @foreach (Category c in cats)
        {
        <li>
            <a href="/@Model.Fields["ContentType"]/@c.Slug">@c.Name</a>
        </li>
        }
    </ul>
</aside>