﻿@model IDictionary<string, string>

<fieldset>
    <label>Title:</label>@Html.TextBox("Title", Model["Title"])
    <label>Content Type:</label>@Html.TextBox("ContentType", Model["ContentType"])
</fieldset>